.view-slash-home-items .views-field-field-image{
	background: #CCCCCC;
}

.head-top-container{
	background: #9FB75A;
}

.footer-head-container{
	background: #9FB75A;
}

#block-widgets-s-socialmedia-profile-buttons a:hover {
	background: none repeat scroll 0 0 #9FB75A;
}

.footer img:hover {
    background: none repeat scroll 0 0 #9FB75A;
    border: 1px solid #9FB75A;
}

.view-slash-latest-news-home .views-row:hover img{
    background: none repeat scroll 0 0 #9FB75A;
    border: 1px solid #9FB75A;
}

.view-slash-portfolio-4-columns .views-row .views-field-nothing:hover {
	border: 4px solid #9FB75A;
}

#block-views-slash-home-items-block-1{
	background: none repeat scroll 0 0 #9FB75A;
}

.view-slash-blog .views-row img:hover{
    background: none repeat scroll 0 0 #9FB75A;
    border: 1px solid #9FB75A;
}
	