/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

a{

	color: #0088cc;

}

a:hover{

	color: #0088cc;

}	

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav .active-trail, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    border-color: #0088CC;
}

.tb-megamenu .nav > .active > a, .tb-megamenu .nav > .active > a:hover, .tb-megamenu .nav > .active > a:focus {
    background: #0088cc;
    border-bottom: none;
}


/* THEME COLORS */

.view-store .views-field-commerce-price-2 span, .view-id-store_b .views-field-commerce-price-2 span, .view-id-store_c .views-field-commerce-price-2 span, .view-related-items .views-field-commerce-price-2 span, .view-related-items-b .views-field-commerce-price-2 span, .view-related-items-c .views-field-commerce-price-2 span{

	background: none repeat scroll 0 0 #0088cc;

}

#block-commerce-checkout-progress-indication ol > li.active:before{

	background: none repeat scroll 0 0 #0088cc;

}

.view-store .views-field-commerce-price-1 .table-striped > tbody > tr:nth-child(2n+1) > td, .view-id-store_b .views-field-commerce-price-1 .table-striped > tbody > tr:nth-child(2n+1) > td, .view-id-store_c .views-field-commerce-price-1 .table-striped > tbody > tr:nth-child(2n+1) > td, .view-related-items  .views-field-commerce-price-1 .table-striped > tbody > tr:nth-child(2n+1) > td, .view-related-items-b  .views-field-commerce-price-1 .table-striped > tbody > tr:nth-child(2n+1) > td, .view-related-items-c  .views-field-commerce-price-1 .table-striped > tbody > tr:nth-child(2n+1) > td,
.view-store .views-field-commerce-price-1 .table-striped > tbody > tr:nth-child(2n+1) > th, .view-id-store_b .views-field-commerce-price-1 .table-striped > tbody > tr:nth-child(2n+1) > th, .view-id-store_c .views-field-commerce-price-1 .table-striped > tbody > tr:nth-child(2n+1) > th, .view-related-items  .views-field-commerce-price-1 .table-striped > tbody > tr:nth-child(2n+1) > th, .view-related-items-b  .views-field-commerce-price-1 .table-striped > tbody > tr:nth-child(2n+1) > th, .view-related-items-c  .views-field-commerce-price-1 .table-striped > tbody > tr:nth-child(2n+1) > th{
	
		color: #0088cc;

}

.tb-megamenu .dropdown-menu .active > a, .tb-megamenu .dropdown-menu .active > a:hover {
    background-color: #0088cc;
    background-image: none;
}

.view-id-plans .featured{

	background: none repeat scroll 0 0 #0088cc;

}

.tb-megamenu .dropdown-menu li > a:hover, .tb-megamenu .dropdown-menu li > a:focus, .tb-megamenu .dropdown-submenu:hover > a {
    color: #0088cc;
}

.tb-megamenu .nav > li > a:focus, .tb-megamenu .nav > li > a:hover {
    color: #0088cc;
}

.tb-megamenu .nav > li > a:focus, .tb-megamenu .nav > li > a:hover {
    color: #0088cc;
}

.tb-megamenu .dropdown-menu{

	border-bottom: 3px solid #0088cc;

}

.tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
    color: #0088cc;
}


.tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > a:hover {
    background-color: #0088cc !important;
}

.view-sidebar-store .views-field-nothing .table-striped > tbody > tr:nth-child(2n+1) > td, .view-sidebar-store .views-field-nothing .table-striped > tbody > tr:nth-child(2n+1) > th{

	color: #0088cc !important;

}

#block-views-shopping-cart-block-1 .dropdown-menu{

	border-bottom: solid 3px #0088cc !important;
	border-radius: 0 !important;

}

header .nav .active-trail{

    background-color: #0088cc !important;

}

header .nav .active-trail:hover{

    background-color: #0088cc !important;
    
}

.scrollToTop:hover {
    color: #0088cc;
}


/* FOOTER MESSAGE COLOR */

.region-footer-level-mid{

        background: #222222;

}


/* FOOTER MESSAGE COLOR */

.footer {

    background: none repeat scroll 0 0 #333333;

}