/* Palette Resets for Color Module*/

.color-form {
    max-width: none !important;    
	width: 100% !important;
}

#palette .form-item.form-type-textfield{
    float: left;
}

#palette{
	padding-right: 200px;
}


/* STARTERKIT 1: Color Palette */

#preview {
	overflow: hidden;
	width: 75%;
	height: 200px;
}

div.color {
	height: 100%;
	width: 33%;
	float: left;
	-moz-transition: background-color 1s ease-out;
	-o-transition: background-color 1s ease-out;
	-webkit-transition: background-color 1s ease-out;
	transition: background-color 1s ease-out;
}