/* Print Friendly CSS */
.logged-in .print-logo{display: none;}
.logged-in .print-hr{display: none;}

.field-type-commerce-product-reference{display: none;}
.print-breadcrumb{display: none;}
.print-site_name{display: none;}

.print-content .content .jqzoom-element{
  /*width: 300px;*/
  margin-right: 20px;
  padding-right:20px;
}

.print-content .content .field-name-commerce-price{
	width: auto;
	min-width: 200px;
	display: none;
}


.print-content .content .commerce-price-savings-formatter-price{
	width: auto;
	min-width: 150px;
	display: none;
}

.print-content .content .commerce-price-savings-formatter-prices-count-1 {
	width: 200px;
}
