/********** Zest Custom **********/

/* Effects */
a,
.navbar .block-custom-search-block .form-submit {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#block-menu-accountmenu ul li a,
.navbar .block-custom-search-block .form-submit {
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}

/* General */
body {
  font-size: 14px;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px 0;
}

h3 {
  font-size: 20px;
}

.form-control {
  height: 30px;
}

.btn {
  padding: 4px 12px;
}

.btn-success.form-submit {
  color: #000;
  font-weight: 700;
  font-size: 15px;
  border: 0;
  height: 30px;
  line-height: 22px;  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffff00+0,fec929+100 */
  background: #ffff00; /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: -moz-linear-gradient(top, #ffff00 0%, #fec929 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffff00), color-stop(100%, #fec929)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffff00 0%, #fec929 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffff00 0%, #fec929 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffff00 0%, #fec929 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffff00 0%, #fec929 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff00', endColorstr='#fec929', GradientType=0); /* IE6-8 */
}

/* Layout */
.main-container {
  margin-top: 40px;
}

.highlighted {
  clear: both;
  background: #000;
}

/* Top bar */
.top-bar {
  background: #000;
  padding-top: 8px;
}

.top-bar .navbar-nav > li > a {
  background: none !important;
  padding: 8px 0;
  color: #fff;
}

.navbar-right {
  float: right;
}

#block-views-shopping-cart-block-1 .view-id-shopping_cart .excl_gst_label{display: none;}

/* Header */
.header-top {
  background: transparent url(../images/header-bg.png) no-repeat 0 0;
  background-size: cover;
  padding: 10px 0 20px 0;
  max-height: 95px;
  font-weight: 700;
  border-bottom: 0;
}

.header-top .logo {
  margin-top: 15px;
}

.header-top p,
.header-top .block {
  margin-bottom: 0;
}

.header-top p.phone {
  font-size: 180%;
  font-weight: 700;
}

.header-top p.phone:before {
  content: '\f098';
  font-family: 'FontAwesome';
  font-weight: 400;
  padding-right: 10px;
}

.headertopmiddle {
  color: #fff;
  font-size: 150%;
  font-style: italic;
  text-align: right;
  padding-top: 25px;
}

.headertopright .header-contact {
  float: none;
  color: #fff;
  font-size: 130%;
  line-height: 25px;
  font-weight: 400;
}

.headertopright .header-contact a {
  color: #ffff02 !important;
}

#block-menu-accountmenu {
  border: 0;
  margin: 5px 0 0 0;
  padding-left: 0;
}

#block-menu-accountmenu ul li {
  display: inline-block;
  margin-left: 5px;
}

#block-menu-accountmenu ul li a {
  display: inline-block;
  padding: 1px 10px;
  color: #fff !important;
  text-transform: uppercase;
  color: #fff;
  font-size: 115%;
}

#block-menu-accountmenu ul li.first a {
  background: #828282;
}

#block-menu-accountmenu ul li.last a {
  background: #3b3b3b;
}

#block-menu-accountmenu ul li a:hover {
  background: #000 !important;
}

/* Top nav */
#block-tb-megamenu-main-menu {
  float: left;
}

.block-tb-megamenu {
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.tb-megamenu {
  float: none;
}

.navbar {
  min-height: inherit;
  border-bottom: 0;/*height: 40px;*/
  z-index: 99;
  background: #ffff62; /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: -moz-linear-gradient(top, #ffff62 0%, #ffe236 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffff62), color-stop(100%, #ffe236)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffff62 0%, #ffe236 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffff62 0%, #ffe236 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffff62 0%, #ffe236 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffff62 0%, #ffe236 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff62', endColorstr='#ffe236', GradientType=0); /* IE6-8 */
}

.tb-megamenu .nav > li > a,
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle {
  padding: 8px 12px;
  border-right: 1px solid #ffff62 !important;
  border-left: 1px solid #f2ef58 !important;
  color: #222 !important;
  font-weight: 700;
  font-size: 120%;
  margin: 0;
  text-shadow: 1px 1px 1px #fff !important;
  background: #ffff62; /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: -moz-linear-gradient(-45deg, #ffff62 0%, #fec729 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffff62), color-stop(100%, #fec729)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #ffff62 0%, #fec729 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #ffff62 0%, #fec729 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #ffff62 0%, #fec729 100%); /* IE10+ */
  background: linear-gradient(135deg, #ffff62 0%, #fec729 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff62', endColorstr='#fec729', GradientType=1); /* IE6-8 fallback on horizontal gradient */
}

.tb-megamenu .nav > li > a:hover,
.tb-megamenu .nav > .active > a,
.tb-megamenu .nav > .active > a:hover,
.tb-megamenu .nav > .active > a:focus,
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle,
.tb-megamenu .nav > li.dropdown.open.active > a:hover {
  background: #FE9F1F !important;
}

.tb-megamenu .nav li.dropdown.open > .dropdown-toggle .caret,
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle .caret,
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle .caret {
  display: none;
}

.tb-megamenu .mega-nav > li a,
.tb-megamenu .dropdown-menu .mega-nav > li a {
  font-size: inherit;
  padding: 5px 0 !important;
  color
}

.tb-megamenu .span12.mega-col-nav .mega-inner {
  padding: 0;
}

.tb-megamenu .dropdown-menu .active > a,
.tb-megamenu .dropdown-menu .active > a:hover {
  background: none !important;
  color: #fe9f1f;
}

header .nav .active-trail,
header .nav .active-trail:hover {
  background: none !important;
}

/* Search */
.navbar .block-custom-search-block {
  margin-top: 5px;
  text-align: right;
  float: right;
}

.navbar .block-custom-search-block .form-text {
  width: 200px;
}

.navbar .block-custom-search-block .form-item,
.navbar .block-custom-search-block .form-submit {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
}

.navbar .block-custom-search-block .form-submit {
  padding: 4px;
  border: 0;
  background: #222;
  color: #fff;
  font-weight: 700;
}

.navbar .block-custom-search-block .form-submit:hover {
  background: #666;
}

.navbar .block-custom-search-block .form-item input {
  border-radius: 0;
  border: 1px solid #FFE338;
}

/* Nav glossary bar */
.glossary-bar {
  color: #fff;
  padding: 0 15px;
}

.glossary-bar h3,
.glossary-bar ul {
  float: left;
  font-size: 13px;
  margin: 0;
  line-height: 19px;
}

.glossary-bar h3 {
  padding: 5px 15px 5px 0;
}

.glossary-bar ul {
  padding: 0;
  list-style: none;
}

.glossary-bar ul li {
  float: left;
  text-transform: uppercase;
  cursor: pointer;
}

.glossary-bar ul li .glossary_item {
  position: relative;
  padding: 5px;
}

.glossary-bar ul li .glossary_item:hover {
  background: #fff;
  color: #000;
}

.glossary-bar ul li .glossary_item .group_items {
  position: absolute;
  left: -5px;
  top: 29px;
  z-index: 999;
  background: #fff;
  padding: 10px;
}

.glossary-bar ul li .glossary_item .group_items ul li {
  margin: 2px 0;
  float: none;
}

.glossary-bar ul li .glossary_item .group_items ul li a {
  color: #000;
}

.glossary-bar ul li .glossary_item .group_items ul li a:hover {
  color: #FF5C0A;
  text-decoration: none;
}

.glossary-bar ul li.last a {
  padding: 5px 0 5px 15px;
  display: inline-block;
}

.glossary-bar ul li a {
  color: #fff;
  white-space: nowrap;
}

/* Our product range */
.front .below_highlighted {
  background: #000;
  color: #fff;
  padding: 3px 0;
  -webkit-box-shadow: 0 1px 6px 1px #333;
  box-shadow: 0 1px 6px 1px #333;
}

.below_highlighted {
  padding: 20px 0;  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffff00+0,fec929+100 */
  background: #ffff00; /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: -moz-linear-gradient(top, #ffff00 0%, #fec929 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffff00), color-stop(100%, #fec929)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffff00 0%, #fec929 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffff00 0%, #fec929 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffff00 0%, #fec929 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffff00 0%, #fec929 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff00', endColorstr='#fec929', GradientType=0); /* IE6-8 */
}

.our-product-range img {
  float: right;
  margin-left: 20px;
}

/* Front page news */
.view-blog .views-field-title,
.view-blog .views-field-created {
  display: inline-block;
  vertical-align: bottom;
}

.view-blog .views-field-title h3 {
  font-size: 24px;
}

.view-blog .views-row .views-field-created {
  font-style: normal;
  margin-left: 10px;
}

.view-blog .views-field-field-image {
  float: right;
  margin-left: 20px;
}

.view-blog .views-field-field-image img {
  max-width: 200px;
}

/* Footer */
.footer .block-catalogue {
  display: inline-block;
  width: 45%;
  background: #222;
  padding: 20px 10px;
  margin: 0;
}

.footer .block-catalogue h2 {
  font-weight: 700;
  font-size: 120%;
  margin: 0 0 15px 0 !important;
}

.block-catalogue .img {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

.block-catalogue .details {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.block-catalogue .details a {
  background: #fe9f1f;
  color: #fff;
  display: inline-block;
  padding: 3px 10px;
  text-transform: uppercase;
  border-radius: 3px;
  margin-top: 5px;
  text-decoration: none;
  font-weight: 700;
}
.block-catalogue .details a:hover{opacity: 0.8;}

.footer .region-footer-level-mid{margin: 0;}

.footer {
  margin-top: 40px;
  padding-top: 0;
  color: #000;
  font-size: 13px;
  box-shadow: 0 0 1px #999;
}

.footer-head {
  background: #fff;
}

.footer-head .block-logos {
  margin: 10px 0;
}

.footer .footer-top {
  padding: 20px 0;
  background: #ffff62; /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: -moz-linear-gradient(top, #ffff62 0%, #ffe236 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffff62), color-stop(100%, #ffe236)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffff62 0%, #ffe236 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffff62 0%, #ffe236 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffff62 0%, #ffe236 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffff62 0%, #ffe236 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff62', endColorstr='#ffe236', GradientType=0); /* IE6-8 */
}

.footer h2,
.footer h2.block-title {
  margin: 15px 0 10px !important;
  font-size: 14px;
  border-bottom: 0;
  text-transform: uppercase;
  padding: 0;
}

.footer .nav > li > a {
  padding: 0 0 5px 0;
  color: #000;
}

.footer .region-closure {
  border: 0;
  margin-top: 0;
  padding-top: 10px;
  color: #ccc;
}

.footer .footer-bottom {
  background: transparent url(../images/header-bg.png) no-repeat 0 0;
}

.footer .footer-bottom .copyright {
  float: left;
}

.footer .footer-bottom .agency {
  float: right;
}

.footer .footer-col{display: inline-block;vertical-align: top;width: 17%;margin:0 1%;}
.footer .footer-col a:hover{opacity: 0.7;}
.footer .block-social img{margin-right:5px;}

/* Featured products block */
.block-featured-products {
  padding: 30px 0;
}

.region-pre-content h2.block-title,
.region-highlighted h2.block-title,
.region-post-content h2.block-title,
.region-content h2.block-title,
.region-post-content3 h2.block-title,
.region-post-content2 h2.block-title {
  background: none;
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: #8d8d8d;
  text-transform: uppercase;
  font-weight: 700;
}

.region-pre-content .title-div,
.region-highlighted .title-div,
.region-post-content .title-div,
.region-content .title-div,
.region-post-content3 .title-div,
.region-post-content2 .title-div {
  border: 0;
  line-height: normal;
  margin: 0 0 15px 0;
  text-align: left;
}

.view-store .views-row,
.view-id-store_b .views-row,
.view-id-store_c .views-row,
.view-related-items .views-row,
.view-related-items-b .views-row,
.view-related-items-c .views-row {
  margin-bottom: 0;
}

.view-store .views-row .views-field-nothing,
.view-id-store_b .views-row .views-field-nothing,
.view-id-store_c .views-row .views-field-nothing,
.view-related-items .views-row .views-field-nothing,
.view-related-items-b .views-row .views-field-nothing,
.view-related-items-c .views-row .views-field-nothing {
  visibility: hidden;
  display: block;
}

.view-store .views-row:hover .views-field-nothing,
.view-id-store_b .views-row:hover .views-field-nothing,
.view-id-store_c .views-row:hover .views-field-nothing,
.view-related-items .views-row:hover .views-field-nothing,
.view-related-items-b .views-row:hover .views-field-nothing,
.view-related-items-c .views-row:hover .views-field-nothing {
  visibility: visible;
}

.view-store .views-row:hover,
.view-id-store_b .views-row:hover,
.view-id-store_c .views-row:hover,
.view-related-items .views-row:hover,
.view-related-items-b .views-row:hover,
.view-related-items-c .views-row:hover {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 0 50px #cccccc;
  margin-bottom: 0;
  margin-top: -14px;
  padding-top: 14px;
  z-index: 10;
}

.view-store .views-field-field-images,
.view-id-store_b .views-field-field-images,
.view-id-store_c .views-field-field-images,
.view-related-items .views-field-field-images,
.view-related-items-b .views-field-field-images,
.view-related-items-c .views-field-field-images {
  margin-bottom: 5px;
  max-width: 224px;
}

/* Home page */
.front h1.page-header {
  display: none;
}

/* Category page */
.view-id-store_c.view-display-id-page .view-content {
  clear: both;
  padding-top: 10px;
}

.view-id-store_c.view-display-id-page .views-row {
  padding: 20px;  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f6f6+0,ffffff+100 */
  background: #f6f6f6; /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: -moz-linear-gradient(top, #f6f6f6 0%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f6f6f6 0%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f6f6f6 0%, #ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f6f6f6 0%, #ffffff 100%); /* IE10+ */
  background: linear-gradient(to bottom, #f6f6f6 0%, #ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0); /* IE6-8 */
}

.view-id-store_c.view-display-id-page .views-row .column_one,
.view-id-store_c.view-display-id-page .views-row .column_two,
.view-id-store_c.view-display-id-page .views-row .column_three {
  float: left;
  width: 30%;
}

.view-id-store_c.view-display-id-page .views-row .column_two {
  width: 36%;
}

.view-id-store_c.view-display-id-page .views-row .column_one,
.view-id-store_c.view-display-id-page .views-row .column_two {
  margin-right: 2%;
}

.view-id-store_c.view-display-id-page .views-row:hover {
  box-shadow: none;
  margin: 0;
  padding: 20px;
}

.view-id-store_c.view-display-id-page .views-row .views-field-title h4 {
  font-weight: 700;
}

.view-id-store_c.view-display-id-page .views-row .views-field-field-images img {
  transform: none;
}

.view-id-store_c.view-display-id-page .views-row .views-field-nothing {
  visibility: visible;
  border: 0;
}

.view-id-store_c.view-display-id-page .views-row .views-field-field-product-family {
  color: #ff5400;
}

.view-id-store_c.view-display-id-page .views-row .column_three .views-field-field-commerce-saleprice-on-sale-1 {
  overflow: hidden;
  float: right;
}

.view-id-store_c.view-display-id-page .views-row .column_three .views-field-field-commerce-saleprice-on-sale-1 span {
  display: block;
  margin: 0 5px 0 0;
  float: left;
  font-size: 20px;
  font-weight: 700;
  color: #999;
  text-decoration: line-through;
}

.view-id-store_c.view-display-id-page .views-row .column_three .views-field-field-commerce-saleprice-on-sale-1 span.rrp {
  text-decoration: none;
}

.view-id-store_c.view-display-id-page .views-row .column_three .views-field-commerce-price-1 {
  clear: both;
  float: none;
  text-align: right;
  margin: 0 0 10px 0;
  padding: 0;
}

.view-id-store_c.view-display-id-page .views-row .column_three .views-field-commerce-price-1 table td {
  color: #000;
  font-weight: 700;
}

.view-id-store_c.view-display-id-page .views-row .column_three .form-item-quantity {
  overflow: hidden;
  float: left;
  margin-right: 10px;
}

.view-id-store_c.view-display-id-page .views-row .column_three .form-item-quantity label,
.view-id-store_c.view-display-id-page .views-row .column_three .form-item-quantity input {
  float: left;
  display: block;
}

.view-id-store_c.view-display-id-page .views-row .column_three .form-item-quantity label {
  margin: 5px 10px 0 0;
}

.view-id-store_c.view-display-id-page .views-row .column_three .form-item-quantity input {
  width: 50px;
}

.view-id-store_c.view-display-id-page .views-row .column_three .form-submit {
  color: #000;
  font-weight: 700;
  font-size: 15px;
  float: left;
  background: #ffff00; /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: -moz-linear-gradient(top, #ffff00 0%, #fec929 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffff00), color-stop(100%, #fec929)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffff00 0%, #fec929 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffff00 0%, #fec929 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffff00 0%, #fec929 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffff00 0%, #fec929 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff00', endColorstr='#fec929', GradientType=0); /* IE6-8 */
}

/* Category page not logged in user */
.not-logged-in .view-id-store_c.view-display-id-page .views-field-commerce-price-2,
.not-logged-in .view-id-store_c.view-display-id-page .column_three {
  display: none;
}

/* Category filter */
.view-id-store_c.view-display-id-page .view-header {
  padding: 0;
  margin: 0;
  color: #000;
  float: left;
}

.view-id-store_c.view-display-id-page .view-filters {
  float: right;
  margin-top: -10px;
}

.view-id-store_c.view-display-id-page .view-filters .views-widget-filter-search_api_views_fulltext {
  display: none;
}

.view-id-store_c.view-display-id-page .view-filters label,
.view-id-store_c.view-display-id-page .view-filters select.form-control {
  display: inline-block;
  width: auto;
  margin-right: 5px;
}

.view-id-store_c.view-display-id-page .view-filters .form-submit {
  margin: 0;
  padding: 5px 12px;
}

/* View all categories */
.view-all-categories .views-view-grid {
  width: 100%;
  border-spacing: 10px;
  border-collapse: separate;
}

.view-all-categories .views-view-grid tr:nth-child(odd) td {
  background: #fff8ec;
}

.view-all-categories .views-view-grid td {
  width: 25%;
  padding: 2px 5px;
}

.view-all-categories .views-view-grid td a {
  color: #000;
}

/* Front page brand logos block */
.footer .block-brands-logo {
  text-align: center;
  margin: 10px 0;
}

.footer .block-brands-logo .views-row {
  display: inline-block;
  vertical-align: middle;
  margin: 1%;
}

/* Left column */
.region-sidebar-first .title-div {
  background: #666;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.region-sidebar-first .title-div h2.block-title {
  color: #fff;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 15px;
}

.facetapi-facetapi-links,
.facetapi-search-api-ranges-ui-links {
  padding: 0;
  margin: 0;
}

.facetapi-facetapi-links li,
.facetapi-search-api-ranges-ui-links li {
  display: block;
  margin: 0 0 5px 0;
  padding: 5px 10px;
}

.facetapi-facetapi-links li:nth-child(odd) {
  background: #f7f7f7;
}

.facetapi-active {
  background: none;
  color: #ff5400;
  padding: 0;
  margin: 0;
}

.facetapi-facetapi-links ul {
  padding-left: 5px;
}

.facetapi-facetapi-links > li.expanded > a {
  color: #ff5400;
  font-weight: 700;
}

/* Product page */
.node-type-store-c-product h1.page-header {
  display: none;
}

.node-store-c-product .commerce-product-title {
  font-size: 40px;
  margin-bottom: 20px;
}

.field-name-field-product #edit-quantity {
  width: auto;
}

.node-store-c-product .field {
  margin-bottom: 20px;
}

#comments .comment-by-node-author {
  margin: 0;
}

.node #comments .comment {
  padding: 10px;
}

.node h2.title,
#comments h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.node-store-c-product .field-name-field-product-manufacturer,
.node-store-c-product .field-type-barcode-field {
  float: right;
  clear: right;
}

.node-store-c-product .field-label,
.node-store-c-product .field-items {
  display: inline-block;
}

#block-print-ui-print-links {
  text-align: right;
  margin: 15px 0;
}

#block-print-ui-print-links a {
  color: #000;
  text-decoration: underline;
}

#block-print-ui-print-links a:hover {
  text-decoration: none;
}

#block-print-ui-print-links .print_pdf {
  xdisplay: none;
}

#block-block-38 .printbtn {
  margin: 15px 0;
  display: inline-block;
  text-decoration: underline;
  color: #000;
}

#block-block-38 .printbtn:hover {
  text-decoration: initial;
}

.node-type-store-c-product .field-name-commerce-price {
  margin: 0;
}

.node-type-store-c-product .form-item-quantity,
.node-type-store-c-product #edit-submit {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 10px 0 0;
}

.commerce-price-savings-formatter-prices {
  margin: 0;
  display: inline-block;
  vertical-align: bottom;
}
.commerce-price-savings-formatter-prices tr td{line-height: 30px !important;}
.views-field-commerce-price-1 .excl_gst_label{display: inline-block;vertical-align: bottom;line-height: 25px;}

.commerce-price-savings-formatter-prices .commerce-price-savings-formatter-price .price-label,
.commerce-price-savings-formatter-prices .commerce-price-savings-formatter-savings {
  display: none;
}

.commerce-price-savings-formatter-prices .commerce-price-savings-formatter-price .price-amount {
  font-size: 26px;
  color: #000;
  font-weight: 700;
}

.commerce-price-savings-formatter-prices .commerce-price-savings-formatter-list td {
  color: #999;
  float: left;
  font-size: 20px;
  font-weight: 700;
}

.commerce-price-savings-formatter-prices tr td {
  padding: 0 5px 0 0 !important;
}

.node .jqzoom-thumbnails{max-width: none;}

/* Product page not logged in user */
.not-logged-in .node-store-c-product .commerce-add-to-cart {
  display: none;
}

/* Brands Grid View */
.view-brands .views-view-grid {
  width: 100%;
  border-spacing: 10px;
  border-collapse: separate;
}

.view-brands .views-view-grid tr:nth-child(odd) td {
  background: #fff8ec;
}

.view-brands .views-view-grid td {
  width: 25%;
  padding: 2px 5px;
}

.view-brands .views-view-grid td a {
  color: #000;
}

/* Brands List View */
.view-brands .views-row {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}

.view-brands .brand-left {
  float: left;
  width: 20%;
  margin-right: 5%;
}

.view-brands .brand-right {
  float: left;
  width: 75%;
}

.view-brands .brand-right .name {
  margin-bottom: 10px;
}

.view-brands .brand-right .name a {
  font-weight: 600;
  font-size: 130%;
  color: #ff5400;
}

/* Brands Block */
.page-products-brand h1.page-header {
  display: none;
}

.brands-block {
  overflow: hidden;
  margin-bottom: 40px;
}

.brands-block h1 {
  border-bottom: 1px dashed #ccc;
  font-size: 40px;
  letter-spacing: -2px;
  margin-bottom: 25px;
  padding-bottom: 10px;
}

.brands-block .brand-left {
  float: left;
  width: 70%;
}

.brands-block .brand-right {
  float: right;
  width: 27%;
  text-align: right;
  margin-left: 3%;
}

/* Blog */
.view-blog .views-row {
  overflow: hidden;
}

/* Team members */
.view-team-members {
  margin-bottom: 30px;
}

.view-team-members .views-row {
  padding: 20px;  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f6f6+0,ffffff+100 */
  background: #f6f6f6; /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: -moz-linear-gradient(top, #f6f6f6 0%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f6f6f6 0%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f6f6f6 0%, #ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f6f6f6 0%, #ffffff 100%); /* IE10+ */
  background: linear-gradient(to bottom, #f6f6f6 0%, #ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0); /* IE6-8 */
}

.view-team-members .views-field-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.view-team-members .views-field-field-picture {
  display: inline-block;
  vertical-align: top;
  margin-right: 2%;
  width: 20%;
}

.view-team-members .views-field-field-picture img {
  border: 2px solid #eee;
}

.view-team-members .views-field-body {
  display: inline-block;
  vertical-align: top;
  width: 77%;
}

/* Contact us */
.block-contact {
  margin: 20px 0;
}

.block-contact .form-item {
  margin: 10px 0;
}

.form-email {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  vertical-align: middle;
  width: 100%;
  height: 30px;
}

.form-email:focus {
  border-color: #66afe9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0 none;
}

/* Toggle menu */
.navbar-default .navbar-toggle {
  background-color: #333;
  margin: 10px 15px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #666;
}

.navbar-default .navbar-toggle {
  border: 0;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

/* Checkout */
.feight_intro {
  padding: 15px;
  border: 1px solid #ddd;
  margin: 15px;
  background: #f5f5f5;
  border-radius: 4px;
}

#views-form-commerce-cart-form-default .fa-shopping-cart,
#views-form-commerce-cart-form-default span{font-size: 22px;}

.commerce-order-handler-area-order-total .commerce-price-formatted-components{margin-bottom: 5px;}
.commerce-order-handler-area-order-total .commerce-price-formatted-components .component-type-commerce-price-formatted-amount{font-size: 18px;}
.commerce-order-handler-area-order-total .excl_gst_label{float: right;margin-right: 8px;}

/* News */
.node-article .field-type-image,
.node-article .field-type-text-with-summary {
  display: inline-block;
  vertical-align: top;
}

.node-article .field-type-image {
  width: 35%;
}

.node-article .field-type-text-with-summary {
  width: 60%;
  margin-left: 5%;
}

/* User profile page */
.user-profile .block-system .group-user-address .field {
  margin-bottom: 0;
}

.user-profile .block-system .group-user-address {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.user-profile .group-user-address h3 {
  font-size: 14px;
  margin: 0;
  margin-bottom: 10px;
}

.user-profile .block-system .field {
  margin-bottom: 10px;
}

.user-profile .block-system .group-history-class {
  display: none;
}

/* User company */
.user-company {
  color: #fff;
  xclear: right;
  margin-bottom: 0;
  margin-top: 5px;
}

#block-views-shopping-cart-block-1 {
  clear: right;
}

/* Media Queries */
@media only screen and (min-width:992px) and (max-width:1199px) {

  /* Header */
  .headertopmiddle {
    font-size: 140%;
  }

  #block-menu-accountmenu ul li a {
    font-size: 100%;
    padding: 1px 5px;
  }

  /* Product page */
  .node .jqzoom-element,
  .zoomPad {
    float: none;
  }

  .node .jqzoom-element .zoomWrapper {
    width: 450px !important;
  }

}

@media only screen and (min-width:768px) and (max-width:991px) {
  #admin-menu {
    display: none;
  }

  /* Top bar */
  #block-views-shopping-cart-block-1 {
    background: none;
    float: right;
    padding-bottom: 0;
  }

  .navbar-nav {
    margin: 0;
  }

  /* Header */
  #navbar .container .logo {
    float: none !important;
    margin-top: 20px;
  }

  .headertopmiddle {
    font-size: 105%;
  }

  .header-top p.phone {
    font-size: 130%;
  }

  #block-menu-accountmenu ul li a {
    font-size: 100%;
    padding: 1px 5px;
  }

  /* Responsive menu */
  .navbar-collapse .block-custom-search-block {
    float: none;
    text-align: left;
  }

  .navbar-collapse .block-custom-search-block {
    text-align: center;
  }

  .navbar-collapse .block-custom-search-block .form-item input {
    border-color: #ccc;
  }

  .navbar-collapse #block-system-main-menu .nav li a {
    padding: 5px 15px;
    color: #222;
    background: none !important;
  }

  #navbar .navbar-collapse {
    border: 0;
    background: none;
    box-shadow: none;
    padding: 0 !important;
    margin: 0 !important;
  }

  header .nav .active-trail {
    background: none !important;
    font-weight: 700;
  }

  .caret {
    display: none;
  }

  .dropdown-menu {
    position: static;
  }

  .dropdown-menu li.last a {
    border-bottom: 0;
  }

  /* Product page */
  .node-store-c-product .commerce-product-title {
    font-size: 22px;
  }

  .node-store-c-product .field-type-barcode-field img {
    max-width: 150px;
    height: auto;
  }

  .node-store-c-product .group-right {
    width: 48%;
    margin-left: 2%;
  }

}

@media only screen and (max-width:767px) {
  #admin-menu {
    display: none;
  }

  /* Top bar */
  #block-views-shopping-cart-block-1 {
    background: none;
    float: right;
    padding-bottom: 0;
  }

  .navbar-nav {
    margin: 0;
  }

  /* Header */
  .headertopleft {
    display: block;
  }

  .header-top {
    max-height: none;
    text-align: center;
    background-size: cover;
  }

  .header-top .logo {
    margin: 10px;
    float: none !important;
  }

  .headertopmiddle {
    text-align: center;
    margin: 10px 0;
    font-size: 120%;
    padding: 0;
  }

  .headertopright .header-contact {
    text-align: center;
    margin: 10px 0;
  }

  .header-top p.phone {
    font-size: 110%;
  }

  #block-menu-accountmenu {
    text-align: center;
    float: none;
  }

  /* Responsive menu */
  .caret {
    display: none;
  }

  .dropdown-menu {
    position: static;
  }

  .dropdown-menu li.last a {
    border-bottom: 0;
  }

  /* Mini cart */
  #block-views-shopping-cart-block-1 .view-id-shopping_cart .dropdown-menu {
    width: 280px;
    padding: 10px 0;
  }

  #block-views-shopping-cart-block-1 .view-id-shopping_cart .dropdown-menu * {
    color: #fff;
  }

  #block-views-shopping-cart-block-1 .dropdown-menu {
    border-color: #ffff02 !important;
  }

  .top-bar .navbar-nav > li > a {
    text-align: right;
  }

  /* Responsive menu */
  #block-system-main-menu {
    margin: 10px 0 20px;
  }

  .navbar-collapse .block-custom-search-block {
    float: none;
    text-align: left;
  }

  .navbar-collapse .block-custom-search-block {
    text-align: center;
  }

  .navbar-collapse .block-custom-search-block .form-item input {
    border-color: #ccc;
  }

  .navbar-collapse #block-system-main-menu .nav li a {
    padding: 5px 15px;
    color: #222;
    background: none !important;
  }

  #navbar .navbar-collapse {
    border: 0;
    background: none;
    box-shadow: none;
    padding: 0 !important;
    margin: 0 !important;
  }

  header .nav .active-trail {
    background: none !important;
    font-weight: 700;
  }

  /* Footer */
  .footer .footer-bottom {
    text-align: center;
  }

  .footer .footer-bottom .copyright,
  .footer .footer-bottom .agency {
    float: none;
    margin-top: 5px;
  }

  .footer .footer-col{display: block;width: 100%;margin:0 15px 20px;}

  /* Featured block */
  .btn-success.form-submit {
    height: auto;
  }

  .view-store .views-row .views-field-nothing,
  .view-id-store_b .views-row .views-field-nothing,
  .view-id-store_c .views-row .views-field-nothing,
  .view-related-items .views-row .views-field-nothing,
  .view-related-items-b .views-row .views-field-nothing,
  .view-related-items-c .views-row .views-field-nothing {
    display: none;
    visibility: inherit;
  }

  .view-store .views-row,
  .view-id-store_b .views-row,
  .view-id-store_c .views-row,
  .view-related-items .views-row,
  .view-related-items-b .views-row,
  .view-related-items-c .views-row {
    margin-bottom: 40px;
    background: none !important;
    box-shadow: none !important;
  }

  .view-store .views-field-field-images,
  .view-id-store_b .views-field-field-images,
  .view-id-store_c .views-field-field-images,
  .view-related-items .views-field-field-images,
  .view-related-items-b .views-field-field-images,
  .view-related-items-c .views-field-field-images {
    max-width: none;
  }

  /* View all categories */
  .view-all-categories .views-view-grid tr,
  .view-all-categories .views-view-grid td {
    display: block;
    width: 100%;
    background: none !important;
  }

  .view-all-categories .views-view-grid td {
    padding: 5px;
  }

  /* View all brands */
  .view-brands .views-view-grid tr,
  .view-brands .views-view-grid td {
    display: block;
    width: 100%;
    background: none !important;
  }

  .view-brands .views-view-grid td {
    padding: 5px;
  }

  /* Category */
  .view-store .form-submit,
  .view-id-store_b .form-submit,
  .view-id-store_c .form-submit,
  .view-related-items .form-submit,
  .view-related-items-b .form-submit,
  .view-related-items-c .form-submit {
    padding: 4px 12px;
  }

  .view-store .views-row,
  .view-id-store_b .views-row,
  .view-id-store_c .views-row,
  .view-related-items .views-row,
  .view-related-items-b .views-row,
  .view-related-items-c .views-row {
    margin-bottom: 20px !important;
  }

  .views-exposed-widget {
    width: auto;
  }

  .view-store .form-submit,
  .view-id-store_b .form-submit,
  .view-id-store_c .form-submit,
  .view-related-items .form-submit,
  .view-related-items-b .form-submit,
  .view-related-items-c .form-submit {
    font-size: 12px;
    width: auto;
  }

  /* Product page */
  .node-store-c-product .group-left,
  .node-store-c-product .group-right {
    width: 100%;
    margin: 0 0 20px 0;
  }

  .node-store-c-product .group-left #jqzoom-container {
    text-align: center;
  }

  /* News */
  .node-article .field-type-image,
  .node-article .field-type-text-with-summary {
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
  }

  .node-article .field-type-image img {
    max-width: 200px;
  }

  /* Brands List View */
  .view-brands .brand-left {
    float: none;
    width: 100%;
    margin: 0 0 10px 0;
    text-align: center;
  }

  .view-brands .brand-right {
    float: none;
    width: 100%;
  }

}

@media only screen and (max-width:480px) {

  /* Category */
  .view-id-store_c.view-display-id-page .view-header,
  .view-id-store_c.view-display-id-page .view-filters {
    float: none;
    margin: 0 0 10px 0;
    padding: 0 10px;
  }

  .view-id-store_c .text-center,
  .view-id-store_c .view-footer {
    padding: 0 10px;
  }

  .view-id-store_c.view-display-id-page .views-row .column_one,
  .view-id-store_c.view-display-id-page .views-row .column_two,
  .view-id-store_c.view-display-id-page .views-row .column_three {
    width: 100%;
    margin: 0 0 10px 0;
  }

  .view-id-store_c.view-display-id-page .views-row {
    padding: 10px !important;
  }

  .pagination > li > a,
  .pagination > li > span {
    padding: 1px 6px;
  }

  /* Product page */
  .node-store-c-product .field-name-field-product-manufacturer,
  .node-store-c-product .field-type-barcode-field {
    float: none;
  }

  .node-store-c-product .commerce-product-title {
    font-size: 20px;
  }

  .field-name-field-youtube-link iframe {
    max-width: 290px;
    height: auto;
  }

  /* Brands Block */
  .brands-block .brand-left {
    float: none;
    width: 100%;
  }

  .brands-block .brand-right {
    display: none;
  }

}

/* Print */
@media print {
  .highlighted {
    display: none;
  }

  .print_html {
    display: none;
  }

  *:after {
    display: none;
  }

  .footer {
    display: none;
  }

  .field-type-commerce-product-reference {
    display: none;
  }

  .header-top-bar {
    display: none;
  }

  .print_pdf {
    display: none;
  }

  .field-type-youtube {
    display: none;
  }

  .headertopmiddle {
    display: none;
  }

  .headertopright {
    display: none;
  }

  .navbar-toggle {
    display: none;
  }

  .navbar-collapse .region-navigation {
    display: none;
  }

  #navbar {
    display: block;
  }

  .headertopleft {
    width: 100%;
  }

  .headertopleft,
  .headertopleft * {
    display: block;
  }

  .header-top {
    padding: 10px 0;
  }

  .ds-2col > .group-left .zoomPad img {
    width: 100% !important;
  }

  .main-container {
    margin-top: 10px;
  }

}
