// Bootstrap library.
@import 'bootstrap.less';

// Base-theme overrides.
@import 'overrides.less';

// Theme specific.
@import 'header.less';
@import 'content.less';
@import 'footer.less';



/* Custom Font */

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'OpenSansLight',Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {

	a{

		color: #333333;

	}

}

body{

	font-size: 13px;

}

img{

	max-width: 100%;
	height: auto;

}

.fontawesome-icon-list{

	.fa-hover{

		font-size: 14px;
		padding: 5px 0;

		i{

			margin-right: 3px;

		}

	}

}

.nav > li > a:hover, .nav > li > a:focus, li.open {
    background-color: transparent !important;
    text-decoration: none;
}

.page-node-55{

	h3{

		clear: both;
		padding-top: 16px !important;

	}

}

.headertopright{

	.block{

		float: right;
		text-align: right;

	}

}

#block-menu-accountmenu{

	a{

		padding: 0;

	}

	border-left: 1px solid #cccccc;
    margin-left: 10px;
    padding-left: 10px;

}

#block-commerce-multicurrency-currency-menu{

	min-width: 170px;

	li{

		display: inline-block;

	}

}

.navbar{

	background: #ffffff;

	margin-bottom: 0;

	.navbar-nav {
 	   float: right;
		margin: 9px 0 0;
	}

}

.page-node-5, .page-node-6, .page-node-7{

	.breadcrumb{

		display: none;

	}

	h1.page-header{

		display: none;

	}

}

.navbar-default {
    border-color: #cccccc;
}

.header-top{

    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px solid #DDDDDD;
    color: #AAAAAA;
    padding: 12px 0 2px;
    font-size: 12px;

    a{

	color: #AAAAAA !important;

     }

}

p .btn{

	margin-right: 10px;

}

.page-node-1{

	h1{

		display: none;

	}

	.breadcrumb{

		display: none;

	}
}

.main-container{

	margin-top: 20px;

}

.page-header {
    border-bottom: 1px dashed #ccc;
    font-size: 49px;
    letter-spacing: -3px;
    margin-bottom: 33px;
    margin-top: 6px;
    padding-bottom: 18px;
    /*text-transform: uppercase;*/
}

.breadcrumb {
    background-color: transparent;
    border-radius: 0;
    font-size: 10px;
    list-style: none outside none;
    margin-bottom: 0;
    padding: 0;
}

.page-node-1{

	.main-container{

		margin-top: 0;

	}


}

/* Navigation Features */

.tb-megamenu.tb-megamenu-main-menu .collapse{

	display: block;

}

.tb-megamenu {
    background-color: transparent;
    color: #333333;
float: right;
}

.tb-megamenu .nav > li {

    background: transparent;

}

.tb-megamenu .nav > li > a {
    border-right: medium none;
    border-top: 0 none;
    color: #333;
    font-weight: normal;
    margin: 0 0px -1px;
    padding: 25px 13px 25px;
    border-bottom: none !important;
}

#block-tb-megamenu-main-menu{

	float: right;

}


.tb-megamenu .mega-nav > li a, .tb-megamenu .dropdown-menu .mega-nav > li a {
    font-size: 12px;
    padding: 5px 10px !important;
    white-space: normal;
}

.tb-megamenu .dropdown-menu {
    padding: 15px;
}

.tb-megamenu-block{

	.block-title{

		font-size: 16px !important;
   		margin-bottom: 7px !important;

	}


	p{

		color: #aaaaaa;
    		font-size: 11px;

	}

}

#block-views-shopping-cart-block-1{

	clear: none;
	float: right;

	.view-id-shopping_cart{

		font-size: 13px;

		.dropdown-menu{

			font-size: 13px;
			padding: 10px 10px 15px;
			left: auto;
			right: 0;
			width: 380px;

		}

		.view-footer .links a {
		    background: none repeat scroll 0 0 #ededed;
		    border: 1px solid #ededed;
		    color: #333333;
		    padding: 2px 8px;
		}

		.view-footer {
		    border-top: 1px solid #cccccc;
		    margin-top: -20px;
		    padding-top: 8px;
		    text-align: right;

		    .links {
			    padding-top: 16px;
			}
		}



	}

}

.filters {

	margin-top: -20px;
	margin-bottom: 30px;

	a.accordion-toggle{

		display: block;
		padding: 10px;
		text-align: center;

	}

	.panel-heading{

		padding: 0;

	}

	h2{

		margin-top: 0;
		font-size: 18px;

	}

}



.view-store, .view-id-store_b, .view-id-store_c, .view-related-items, .view-related-items-b, .view-related-items-c{

	.views-row {

		.views-field-nothing{

			border-top: 1px solid #eeeeee;
    			clear: both;
    			display: none;
    			margin-bottom: 13px;
    			padding-top: 10px;

			a.btn-default{

				background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    			border: medium none;
    			color: #777777;
    			float: right;
    			font-size: 12px;
    			transition-duration: 0.4s;
		    	transition-property: background-color;

				&:hover{

					background: none repeat scroll 0 0 #EEEEEE;

				}

			}

		}

		&:hover{
    			background: none repeat scroll 0 0 #ffffff;
    			box-shadow: 0 0 50px #cccccc;
    			margin-bottom: -71px;
    			margin-top: -14px;
    			padding-top: 14px;
    			z-index: 10;

			.views-field-nothing{

				display: block;

			}


		}


		.views-field-comment-count{

			opacity: 0.4;
			transition: all 0.9s ease 0s;
			margin-top: -4px;
			min-height: 30px;

		}

		&:hover{

			.views-field-comment-count{

				opacity: 0.8;

			}

		}

	}

	.views-field-field-images{


		border: solid 2px #EEEEEE;

		&:hover{

			img{

				opacity: 0;

			}

		}

	}

	.views-field-title{

		a{

		text-transform: uppercase;
		font-size: 15px;

		}

	}

	.views-field-commerce-price-2 span{

		border-radius: 500px;
		color: #ffffff;
		display: inline-block;
		font-size: 14px;
		height: 61px;
		margin-left: -9px;
		margin-top: -4px;
		opacity: 0.9;
		padding: 20px 18px;
		position: absolute;
		width: 61px;
		z-index: 3;

	}

	.views-field-commerce-price-1{

		.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    		background-color: transparent;
   		font-size: 26px;
    		letter-spacing: -2px;
		}

		.table thead > tr > th, .table thead > tr > td, .table tbody > tr > th, .table tbody > tr > td, .table tfoot > tr > th, .table tfoot > tr > td {
    		border-top: none;
    		line-height: 1.42857;
    		padding: 0;
    		vertical-align: top;
		}

	}

	.views-field-field-commerce-saleprice-on-sale-1{

		margin-top: 0;
		padding-top: 0;

		.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    		background-color: transparent;
		    color: #999;
		    font-size: 13px;
		    letter-spacing: 0;
		    padding-top: 3px;
		    text-decoration: line-through;
		}

		.table thead > tr > th, .table thead > tr > td, .table tbody > tr > th, .table tbody > tr > td, .table tfoot > tr > th, .table tfoot > tr > td {
    		border-top: none;
    		line-height: 1.42857;
    		padding: 0;
    		vertical-align: top;
		}

	}

	.views-field-field-images-1{

		opacity: 0;
    		position: absolute;
    		transition: all 0.9s ease 0s;

    		z-index: 2;

		img{

			border: solid 2px transparent;

		}



		&:hover{

			opacity: 1;

		}

	}

	.views-row:nth-child(3n+1){

		clear: both;

	}

	.commerce-add-to-cart {

		.form-wrapper.form-group{

			display: none;

		}

		.btn-success.form-submit{

			background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    			border: medium none;
    			color: #777777;

    			transition-duration: 0.4s;
		    	transition-property: background-color;

			&:hover{

				background: none repeat scroll 0 0 #EEEEEE;

			}


		}


	}

	.views-field-commerce-price-1{

		float: left;
		margin-right: 8px;
    		margin-top: -10px;
    		padding-top: 3px;

	}

	.text-center, .pager {

		clear: both;

	}

	div#views_infinite_scroll-ajax-loader{

		clear: both;
		padding-top: 20px;
		padding-bottom: 20px;

	}

	.views-row {
    		transition-duration: 0.8s;
    		margin-bottom: 15px;
	}

	.view-content  {
    		transition: all ease 1s;
	}
	.views-row {
	    	transition-property: transform, opacity;
	}


	.view-header{

		color: #999999;
	    margin-bottom: 15px;
	    margin-top: -15px;
	    padding: 0 15px;

	}

	.form-submit{

		font-size: 12px;

	}

	&.view-display-id-block_1, &.view-display-id-block_2, &.view-display-id-block_3, &.view-display-id-block_4{

		.view-header{

		    margin-bottom: 0;
		    margin-top: 0;

		}

	}

	.view-footer{

		clear: both;

	}

}

.pagination{

	clear: both;

}


/* Stores Fixes */

.view-store, .view-id-store_b, .view-id-store_c{


	&.view-display-id-block_4{

		.commerce-add-to-cart {

			.btn-success.form-submit{

				font-size: 12px;
	    			width: 100%;

			}

		}

	}

	/* Store 4 Columns */

	&.view-display-id-page_1, &.view-display-id-page_7, &.view-display-id-block_1, &.view-display-id-block_2, &.view-display-id-block_3{

		.views-row:nth-child(3n+1){

			clear: none;

		}

		.views-row:nth-child(4n+1){

			clear: both;

		}

		.commerce-add-to-cart {

			.btn-success.form-submit{

				font-size: 12px;
	    			width: 100%;

			}

		}

		.views-field-commerce-price-2 span {
	    		border-radius: 500px;
	   		color: #ffffff;
	  		display: inline-block;
	    		font-size: 12px;
	    		height: 52px;
	    		margin-left: 0px;
	    		margin-top: 4px;
	    		opacity: 0.9;
	    		padding: 17px 14px;
	    		position: absolute;
	    		width: 52px;
	    		z-index: 3;
		}

	}


	/* Store 2 Columns */

	&.view-display-id-page_2{

		.views-row:nth-child(3n+1){

			clear: none;

		}

		.views-row:nth-child(2n+1){

			clear: both;

		}

		.commerce-add-to-cart {

			.btn-success.form-submit{

	    			width: 100%;

			}

		}

		.views-row .views-field-nothing a.btn-default {

			width: 100%;

		}


	}

	/* Store Columns */

	&.view-display-id-block_4{

		.views-row:nth-child(3n+1){

			clear: none;

		}

		.views-row:nth-child(6n+1){

			clear: both;

		}

	}

	/* Store Masonry */

	&.view-display-id-page_3, &.view-display-id-page_9{


		.commerce-add-to-cart {

			.btn-success.form-submit{

	    			width: 100%;

			}

		}

		.views-row {


			&:hover{

	    			box-shadow: none;

				.sub-row{

					border: 1px solid #CCCCCC;

				}

			}

			img:hover{

				opacity: 1 !important;

			}

			.sub-row{

				border: 1px solid transparent;
	    			margin: 0 -10px;
	    			padding: 10px 10px 0;

			}

		}

		.pager{

			display: none;

		}


	}



	&.view-display-id-page_9{

		.col-md-3 {
		    width: 24.99%;
		}

	}


	/* Store Infinite Scroll 3 Columns */

	&.view-display-id-page_4{

		.pager{

			display: none;

		}


	}

	/* Store Infinite Scroll 2 Columns */

	&.view-display-id-page_5{

		.views-row:nth-child(3n+1){

			clear: none;

		}

		.views-row:nth-child(2n+1){

			clear: both;

		}

		.commerce-add-to-cart {

			.btn-success.form-submit{

	    			width: 100%;

			}

		}

		.views-row .views-field-nothing a.btn-default {

			width: 100%;

		}

		.pager{

			display: none;

		}



	}


	/* Store Infinite Scroll 4 Columns */

	&.view-display-id-page_6, &.view-display-id-page_8{

		.pager{

			display: none;

		}


		.views-row:nth-child(3n+1){

			clear: none;

		}

		.views-row:nth-child(4n+1){

			clear: both;

		}

		.commerce-add-to-cart {

			.btn-success.form-submit{

				font-size: 12px;
	    			width: 100%;

			}

		}

		.views-field-commerce-price-2 span {
	    		border-radius: 500px;
	   		color: #ffffff;
	  		display: inline-block;
	    		font-size: 12px;
	    		height: 52px;
	    		margin-left: 0px;
	    		margin-top: 4px;
	    		opacity: 0.9;
	    		padding: 17px 14px;
	    		position: absolute;
	    		width: 52px;
	    		z-index: 3;
		}

	}

}

/* Store Fixes END */


/* Store B Specific styles */

.view-id-store_b, .view-related-items-b{

	.views-field-commerce-price-2 a{

		min-height: 112px;
	display: block;
    overflow: hidden;
    position: absolute;
    width: 262px;

	}

 	.views-field-commerce-price-2 span{

		border-radius: 0 !important;
    	display: block !important;
    	font-size: 16px !important;
    	height: 46px !important;
    	margin-bottom: -52px;
    	margin-left: -103px !important;
    	margin-top: 0 !important;
    	opacity: 0.7 !important;
    	padding: 12px 0 !important;
    	position: relative !important;
    	text-align: center !important;
    	transform: rotate(-45deg);
    	-webkit-transform: rotate(315deg);
    	transition: all 0.5s ease 0s;
    	width: 100% !important;

	}

	.views-row{

			overflow: hidden;

		}

	.views-row:hover{



		.views-field-commerce-price-2 span{

			width: 0;
		}

	}

	.views-field-field-images:hover img {
    		opacity: 1 !important;
	}

}

/*  Store B Labeling Fix */

.view-id-store_b.view-display-id-page_1, .view-id-store_b.view-display-id-page_6, .view-related-items-b{

	.views-field-commerce-price-2 a {

	    min-height: 88px !important;
	    width: 188px !important;

	    span {

    		margin-left: -70px !important;

    	}

	}



}

/* Store C Specific styles */

.view-id-store_c, .view-related-items-c{

	.views-field-commerce-price-2 a{

		min-height: 112px;
		display: block;
	    overflow: hidden;
	    position: absolute;
	    width: 262px;

	}

 	.views-field-commerce-price-2 span{

		border-radius: 0 !important;
    	display: block !important;
    	font-size: 16px !important;
    	height: 46px !important;
    	margin-bottom: -52px;
    	margin-left: -103px !important;
    	margin-top: 0 !important;
    	opacity: 0.7 !important;
    	padding: 12px 0 !important;
    	position: relative !important;
    	text-align: center !important;
    	transform: rotate(-45deg);
    	transition: all 0.5s ease 0s;
    	width: 100% !important;

	}

	.views-row{

			overflow: hidden;

		}

	.views-row:hover{



		.views-field-commerce-price-2 span{

			width: 0;
		}

	}

	.views-field-field-images:hover img {
    		opacity: 1 !important;
	}

}

/* FacetAPI styles */

.facetapi-active{

	background: none repeat scroll 0 0 #333333;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 4px;
    padding: 4px 7px;

}

.facetapi-facetapi-links{

	ul{

		padding-left: 0;

	}

}

.search-api-sorts{

	li{

		list-style: none;

	}

	padding-left: 10px;


}

/*  Store C Labeling Fix */

.view-id-store_c.view-display-id-page_1, .view-id-store_c.view-display-id-page_6, .view-related-items-c{

	.views-field-commerce-price-2 a {

	    min-height: 88px !important;
	    width: 188px !important;

	    span {

    		margin-left: -70px !important;

    	}

	}

}

/* Images Effect Store B & C */

.view-id-store_b, .view-id-store_c, .view-related-items-c, .view-related-items-b{

	.views-field-field-images{

		overflow: hidden;

		img {
		  /* Webkit for Chrome and Safari */
		  -webkit-transform: scale(1, 1); // This is the scale for the normal size of the image.
		  -webkit-transition-duration: 300ms;
		  -webkit-transition-timing-function: ease-out;

		  /* Webkit for Mozila Firefox */
		  -moz-transform: scale(1, 1);
		  -moz-transition-duration: 300ms;
		  -moz-transition-timing-function: ease-out;

		  /* Webkit for IE( Version: 11, 10 ) */
		  -ms-transform: scale(1, 1);
		  -ms-transition-duration: 500ms;
		  -ms-transition-timing-function: ease-out;
		}

		img:hover {
		  /* Webkit for Chrome and Safari */
		  -webkit-transform: scale(1.2, 1.2); // This is the enlarged size scale of the image.
		  -webkit-transition-duration: 300ms;
		  -webkit-transition-timing-function: ease-out;

		  /* Webkit for Mozila Firefox */
		  -moz-transform: scale(1.2, 1.2);
		  -moz-transition-duration: 300ms;
		  -moz-transition-timing-function: ease-out;

		  /* Webkit for IE( Version: 11, 10 ) */
		  -ms-transform: scale(1.20, 1.20);
		  -ms-transition-duration: 300ms;
		  -ms-transition-timing-function: ease-out;
		}

	}

}

/* Related Products Fixes */

.view-related-items, .view-related-items-b, .view-related-items-c{

	.views-row:nth-child(3n+1){

		clear: none;

	}

	.views-row:nth-child(4n+1){

		clear: both;

	}

}

.one-sidebar.sidebar-second{

	section.col-sm-9{

	border-right: 1px solid #cccccc;
    	margin-top: -20px;
   	padding-top: 20px;

	}

	aside.col-sm-3{

	border-left: solid 1px #CCCCCC;
	margin-left: -1px;

	}

}

.facetapi-facetapi-links, .facetapi-search-api-ranges-ui-links{

	padding-left: 10px;

	li{

		display: inline-block;
		margin-right: 7px;

	}

}

aside, .filters{

	h2.block-title {

	border-bottom: 1px dashed #cccccc;
    color: #aaaaaa;
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 4px;
    text-transform: uppercase;

	}

}

.block-commerce-multicurrency{

	.block-title{

		display: inline;
	    float: left;
	    font-size: 12px;
	    margin-top: 0;
	    padding: 2px 4px 0 0;

	}

	li{

	display: inline-block;
	font-size: 12px;

	}

	a{

	color: #CCCCCC;

	}

	.active a{

	color: #333333 !important;

	}

}


/* Blog Styles */

.view-blog{

	.views-row{

		border-bottom: 1px dashed #DDDDDD;
	    margin-bottom: 25px;
	    padding-bottom: 19px;

		.views-field-created{

			color: #999999;
		    font-style: italic;
		    margin-bottom: 6px;

		}

		h3{

			margin-bottom: 5px;
    		margin-top: 16px;

    		a{

    			color: #333333;

    		}
		}

	}

	img{

		border: solid 1px #DDDDDD;

	}


}


/* Pre Footer */

.pre-footer{

	background: url('../images/subtle_white_feathers.png');

	.block:first-child h2.block-title {
	    margin-top: 20px;
	}

	.block{

		background: none repeat scroll 0 0 #fff;
	    margin: 20px 0;
	    padding: 20px;

	}

}

/* Sidebar Blog */

.view-id-sidebar_services{

	.views-field-nothing{

		span{

			float: left;
			margin-right: 7px;

		}

		font-size: 1em;

	}

	.views-field-description{

		border-bottom: 1px dashed #EEEEEE;
	    clear: both;
	    margin-bottom: 4px;
	    padding-bottom: 10px;

	}

	.views-row-last .views-field-description{

		border-bottom: none;

	}

}

/* Isotope Filter */

.isotope{

	transition: all 0.5s ease 0s;

}

.view-isotope-filter{

	text-align: center;

	ul{

		padding: 0 10px 10px;
		margin-left: auto;
		margin-right: auto;

	}

	li{

		display: inline-block;
		margin-right: 11px;
    	margin-bottom: 12px;

	}

}


/* Features */

.view-features{

	.views-row{

		clear: both;
    	padding-bottom: 30px;

	}

	.view-footer{

		clear: both;
		margin-bottom: 25px;

	}

 	.views-field-nothing{

	    clear: both;
	    padding: 30px 0 0;

	}

	.attachment .views-field-nothing{

		border-top: 1px solid #eeeeee;

	}

	h2{

		font-size: 2.7em;
    	margin-top: 1.5em;

	}

	h3 {

		font-size: 1.4em;
	    line-height: 1.4em;
	    margin-bottom: 1em;

	}

}





/* Plans */

.view-id-plans{

	margin-bottom: 20px;

	table{

		width: 100%;

		tr{

			text-align: center;

			&.even{

				background: #EEEEEE;

			}

			th{

				font-size: 13px;
			    padding: 20px;
			    text-align: left;
			    width: 15%;

			}

			td{

				padding: 20px 0;
				width: 16%;

				&:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5){

					border-right: solid 1px #CCCCCC;

				}

			}

			.plan-title{

				text-transform: uppercase;

			}

			.plan-price{

				font-size: 55px;
    			letter-spacing: -5px;

    			span{

    				display: inline-block;
				    font-size: 20px;
				    letter-spacing: 0;
				    margin-left: 3px;

    			}

			}

			.featured{

			    border: 1px solid #cccccc;
			    color: #ffffff;
			    display: block;
			    font-size: 14px;
			    height: 27px;
			    margin: -33px -1px 6px;
			    opacity: 0.75;
			    padding-bottom: 4px;
			    padding-left: 0;
			    padding-top: 4px;
			    position: relative;
			    text-align: center;
			    transition: all 0.5s ease 0s;
			    width: auto;

			}




		}

	}


}

.pre-footer{

	padding: 50px 0;

	.title-div{

		border-bottom: 1px solid #cccccc;
	    line-height: 0.1em;
	    margin: -13px 0 30px;
	    text-align: left;
	    width: 100%;

	}

	h2.block-title{

		background: none repeat scroll 0 0 #ffffff;
	    display: inline-block;
	    font-size: 20px;
	    margin-bottom: -7px;
	    padding: 0 7px 0 0;

	}

	.region-pre-footer{

		background: #ffffff;
		box-shadow: 0px 0px 2px #999;

	}

	.block{

		margin-top: 0;

	}

}


/* Product Pages */

.node{

	#comments .comment {
	    border-top: 1px dashed #dddddd;
	    margin-bottom: 12px;
	    padding-left: 0;
	    padding-right: 10px;
	    padding-top: 00px;
	}

	.view-related-items, .view-related-items-b, .view-related-items-c{

	 	.view-header {

	    	color: #333333;

	    }

	}

	h2.block-title{

		font-size: 34px !important;
	    margin-bottom: 0px !important;
	    margin-top: 30px !important;
	    padding-bottom: 10px !important;
	    text-align: left !important;
	    padding-left: 0px !important;

	}

	.title-div{

		text-align: left !important;
		margin-left: 0 !important;

	}

	.comment-wrapper{

		clear: both;

	}

	.field-name-related-collection, .field-name-related-collection-b, .field-name-related-collection-c{
	 	.views-row{

			margin-bottom: -10px;

			&:hover{

				margin-bottom: -65px;

			}

		}

	}

	.jqzoom-image .zoomPad{

		border: solid 1px #CCCCCC;

	}

	.jqzoom-element{


		float: left;
	    margin-right: 20px;
	    transition: all 0.2 ease 0.9;

	}

	#jqzoom-container{

	    margin-bottom: 20px;

	}

	.jqzoom-element-title{

		display: none;

	}

	.zoomWrapperImage img{

		max-width: none !important;

	}

	.commerce-product-title{

		border-bottom: 1px solid #cccccc;
    	font-size: 18px;
    	margin-bottom: 7px;
    	padding-bottom: 5px;

    	.commerce-product-title-label{

    		color: #999999;
		    font-size: 14px;
		    font-weight: normal;
		    display: none;

    	}

	}

	.fivestar-widget-static{

		float: left;
		margin-right: 7px;

	}

	.field-name-commerce-price {

		font-size: 1.1em;

		.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
		    background: none;
		}

		.table thead > tr > th, .table thead > tr > td, .table tbody > tr > th, .table tbody > tr > td, .table tfoot > tr > th, .table tfoot > tr > td {
		    border-top: none;
		    line-height: 1.42857;
		    padding: 3px;
		    vertical-align: top;
		}

	}

	.fivestar-summary{

		font-size: 11px;
    	margin-top: -10px;

	}

	.fivestar-average-stars{

		clear: none !important;

	}

	.fivestar-average-stars:after {
	    clear: none !important;
	}

	.field-type-commerce-product-reference{

		margin-bottom: 30px;
		margin-top: -10px;

	}

	h2.title {
	    border-bottom: 1px solid #cccccc;
	    font-size: 34px;
	    margin-bottom: 15px;
	    padding-bottom: 10px;
	    margin-top: 30px;
	}

	.taxonomy-term.vocabulary-manufacturer{

		h2{

			display: none;

		}

		.field-name-field-image{

			float: left;
			margin-right: 25px;

		}

	}

	.view-related-items.view-display-id-block_1, .view-related-items-b.view-display-id-block_1, .view-related-items-c.view-display-id-block_1{

		h2{

			font-size: 25px;

		}

	}

	#taxonomies{

		float: left;
    	width: 300px;

		.clearfix:after {

		    clear: none;

		}

		.field{

			clear: both;
    		margin-bottom: 26px;


		}

		.commerce-product-sku{

			clear: both;
    		margin-bottom: 8px;

    	}

	}

	.jqzoom-thumbnails{

		max-width: 300px;

		a img{

			border: 1px solid #cccccc;
		    margin-right: 4px;
		    margin-top: 4px;
		    padding: 3px;

		    &:hover{

		    	box-shadow: 0 0 13px #EEEEEE;

		    }

		}

		a.zoomThumbActive img{

			box-shadow: 0 0 13px #EEEEEE;

		}

	}

	.field-name-body{

		clear: both;

	}

	.views-field .form-submit{

		width: 100%;

	}

}


/* Portfolio Items */

.node.node-portfolio-item{

	.field-name-field-item-images{

		.field-item{

		    display: inline-block;
		    margin-right: 12px;
		    margin-top: 25px;
		    margin-left: 12px;

		    img{

		    	box-shadow: 0 0 10px #999;

		    }

		}

		.field-items{

			text-align: center;
			margin-bottom: 35px;

		}


		.field-item:nth-child(1){
		    margin-right: 0;
		    margin-top: 25px;
		    margin-left: 0;
		    display: block;

		}


	}

	img{

		max-width: 100%;

	}

}


/* Blog Post */

.node.node-article{

	.field-name-field-image{

	    img{

	    	box-shadow: 0 0 10px #999;
    margin-bottom: 20px;

	    }

	}

	img{

		max-width: 100%;

	}

}


/* Services */

.taxonomy-term{

	h2.block-title{

		font-size: 34px !important;
	    margin-bottom: 0px !important;
	    margin-top: 30px !important;
	    padding-bottom: 10px !important;
	    text-align: left !important;
	    padding-left: 0px !important;

	}

	.title-div{

		text-align: left !important;
		margin-left: 0 !important;

	}

}


/* Checkout Steps */

#block-commerce-checkout-progress-indication{

	ol {
	    counter-reset:li; /* Initiate a counter */
	    margin-left:0; /* Remove the default left margin */
	    padding-left:0; /* Remove the default left padding */
	}
	ol > li {
	    list-style: none outside none;
	    margin: 0 0 6px 2em;
	    padding: 0;
	    position: relative;
	    width: 18%;
	}
	ol > li:before {
	    background: none repeat scroll 0 0 #cccccc;
	    border-radius: 500px;
	    border-top: medium none;
	    box-sizing: border-box;
	    color: #fff;
	    content: counter(li, decimal);
	    counter-increment: li;
	    display: inline-block;
	    font-family: "Helvetica Neue",Arial,sans-serif;
	    font-weight: bold;
	    height: 38px;
	    left: -2em;
	    margin-right: -15px;
	    padding: 0.8em;
	    position: relative;
	    text-align: center;
	    top: 0;
	    width: 38px;
	}


	ol > li.visited:before{

		background: none repeat scroll 0 0 #FF9C9E;

		a{

			color: #FF9C9E;

		}

	}

	ol > li.visited a{

		color: #FF9C9E;

	}

	li ol,
	li ul {margin-top:6px;}
	ol ol li:last-child {margin-bottom:0;}

}

.commerce-checkout-progress {
    margin-bottom: 20px;
    padding: 0 0 0 15px;
}

.commerce-checkout-progress li.active {
    font-weight: bold;
    color: #333333;
}

.commerce-checkout-progress li {
    font-size: 12px;
    color: #999999;
}

@media (min-width: 1200px) {

	.container {
	    max-width: 1170px;
	}

}
.views-field-edit-node, .views-field-edit-term{

	a{

		position: absolute;
		background: #FF0000;
		display: block;
		padding: 1px 9px;
		color: #FFFFFF;
		font-size: 12px;
		box-shadow: 0 0 4px #000000;
		opacity: 0.7;
		z-index: 5;

	}

}

#block-widgets-s-addthis-share {

	.widgets{

		margin-right: 20px;
		margin-bottom: 7px;
		margin-top: -7px;

	}

	#widgets-element-socialmedia_addthis-tweet{

		width: 90px;

	}

}

/* Customer Reviews */

.post-content, .region-highlighted, .region-pre-content, .region-post-content3, .region-post-content, .region-post-content2{

	.block{

		.view-header {

		    font-size: 18px;
		    padding: 1px 10% 34px;
		    text-align: center;

			color: #333333;

		}

	}

}

.view-customer-reviews{

	text-align: center;

	.views-field-field-image {

		margin-top: 0;

		img{

			border-radius: 500px;

		}

	}

	.views-field-title h4{

		border-bottom: 1px dashed #CCCCCC;
	    line-height: 23px;
	    padding-bottom: 11px;

	}

	.views-field-body{

		line-height: 22px;
		margin-bottom: 50px;

	}

	.views-field-field-customer-name{

		margin-top: 11px;
	    margin-bottom: 19px;
	    font-weight: bold;
	    font-style: italic;

	}

}


/* Payment Icons */

.view-payment-icons{

	opacity: 0.8;

	.views-row{

		float: left;
		margin-right: 10px;
		margin-bottom: 10px;

	}

}

/* Comments */

#comments{

	h2{

		border-bottom: 1px solid #CCCCCC;
	    font-size: 34px;
	    margin-bottom: -1px;
	    padding-bottom: 9px;
	    margin-top: 3px;

	}

	.field-name-field-rating{

		margin-bottom: 10px;
    	margin-top: -8px;

	}

	h2.comment-form{

		margin-bottom: 10px;

	}

	.comment{

		border-top: 1px dashed #dddddd;
	    margin-bottom: 21px;
	    padding-left: 0;
	    padding-right: 10px;
	    padding-top: 9px;

	}

	.submitted{

		color: #999999;
	    font-size: 12px;
	    margin-bottom: 8px;
	    margin-top: -4px !important;

	}

	.user-picture{

		box-shadow: none;
	    float: left;
	    margin-right: 10px;
	    margin-left: -92px;

	    img{

			border: 1px solid #EEEEEE;
	    	border-radius: 500px 500px 500px 500px;

	    }

	}

	h3{

		font-size: 19px;
	    margin-bottom: 3px;
	    margin-top: 0;

	}

	.comment-by-node-author{

		background: none repeat scroll 0 0 #EFEFEF;
	    margin-left: -15px;
	    margin-right: -15px;
	    padding-bottom: 10px;
	    padding-left: 107px;
	    padding-right: 10px;

	}

	.indented{

		padding-left: 92px;

		.comment{

			border-top: 1px dashed #DDDDDD;
		    margin-bottom: 12px;
		    padding-left: 112px;
		    padding-top: 20px;

		}

		.comment-by-node-author{

			background: none repeat scroll 0 0 #EFEFEF;
		    margin-left: 0;
		    padding-bottom: 8px;
		    padding-right: 11px;

		}


	}



}

#logo-mobile{

	display: none;

}

/* Ad Blocks */

aside, .filters{

	color: #999999;

	a{

		color: #777777;

	}

	.block{

		margin-bottom: 20px;

	}

}

.view-sidebar-ad-125x125{

	.views-row{

		float: left;
		margin-bottom: 11px;
    	margin-right: 11px;

	}

	.views-row:nth-child(2n){

		margin-right: 0 !important;

	}

	img{

		border: solid 1px #CCCCCC;
		max-width: 100%;

	}

	h6{

		color: #CCCCCC;

	}

	color: #666666;

	a{

		color: #666666;

	}

}

.view-sidebar-store{

	.views-field-nothing {

		img{

			border: solid 1px #CCCCCC;

		}

		h4{

			font-size: 1em;
		    margin: 3px 0 5px -20px;
		    text-transform: uppercase;
		    padding-top: 3px;

		}

		.rating-sidebar{

			margin-left: -20px;

		}

		table {
		    margin-left: -20px;
		    width: auto;
		    margin-top: -10px;
		    margin-bottom: 12px;
		}


		.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    		background-color: transparent;
   			font-size: 16px;
    		letter-spacing: 0px;
		}

		.table thead > tr > th, .table thead > tr > td, .table tbody > tr > th, .table tbody > tr > td, .table tfoot > tr > th, .table tfoot > tr > td {
    		border-top: none;
    		line-height: 1.42857;
    		padding: 0;
    		vertical-align: top;
		}



	}



	.views-row{

		border-bottom: 1px dashed #eeeeee;
	    clear: both;
	    margin-bottom: 15px;
    	padding-bottom: 0px;

    	.rating-sidebar{

			opacity: 0.3;
			transition: all 0.5s ease 0s;
			margin-bottom: 2px;

		}

		&:hover{

			.rating-sidebar{

				opacity: 0.8;

			}

		}

	}

	.views-row-last{

		border-bottom: none;
	    clear: both;
	    margin-bottom: 0;
	    padding-bottom: 0;

	}


}



.main-content, .inter-content, .post-content{

	.block{

		margin-bottom: 20px;

	}

}

.region-pre-content, .region-highlighted, .region-post-content, .region-content, .region-post-content3, .region-post-content2{

	.title-div{

		text-align: center;
		width: 100%;
		border-bottom: 1px solid #CCCCCC;
		line-height: 0.1em;
		margin: 10px 0 20px;

	}

	h2.block-title{

		background: none repeat scroll 0 0 #FFFFFF;
	    padding: 0 13px;
	    display: inline-block;
	    margin-bottom: -10px;
	    font-size: 38px;

	}

}

.bb-parallax{

	padding: 40px 0;
    text-shadow: 1px 1px 2px #333333;

    h2{

    	font-size: 4em;
    	letter-spacing: -2px;

    }

    h3{

    	font-size: 1.5em;
    	line-height: 28px;

    }

}

#block-block-15{

	color: #ffffff;

}

.view-recent-portfolio{

	margin-right: -10px;

	.views-field-field-portfolio-thumbnail{

		border: 1px solid #555555;
	    float: left;
	    margin-bottom: 10px;
	    margin-right: 10px;
	    max-width: 80px;
	    padding: 3px;


	}

	.views-row:nth-child(3n+1){

		clear: both;

	}

}

.view-social-media{

	margin-right: auto;
	margin-left: auto;
	text-align: center;

	a{

		color: #eeeeee;
		text-align: center;
		display: inline-block;
		margin-right: 25px;

	}

	a:last-child{

		margin-right: 0;

	}

	i{

		font-size: 3em;

	}


}

#block-menu-menu-footer-menu{

	ul{

		text-align: center;

		li{

			display: inline-block;

		}

		a{

			border-right: 1px solid;
		    color: #eeeeee;
		    margin-bottom: 7px;
		    padding: 1px 15px;
		    text-transform: uppercase;

		}

		li.last a{

			border-right: none;

		}

	}

}

.view-recent-articles{

	.views-row{

		border-bottom: 1px dashed #777777;
	    clear: both;
	    margin-bottom: 17px;
	    padding-bottom: 12px;

	}

	.views-row-last{

		border-bottom: none;

	}

	.views-field-field-image{

		border: 1px solid #555555;

	    float: left;
	    margin-bottom: 15px;
	    margin-right: 14px;
	    padding: 3px;


	}

	h4{

		font-size: 15px;

	}

	.views-field-created{

		color: #888888;

	}

}

#navbar .view-header {
    padding: 0;
}

/* Portfolios */

.view-portfolios{

	&.view-display-id-block_1, &.view-display-id-block_2{

		.views-row:nth-child(3n+1){

			clear: both;

		}

	}

	&.view-display-id-page, &.view-display-id-page_3{

		.views-row:nth-child(3n+1){

			clear: both;

		}

	}

	&.view-display-id-page_1, &.view-display-id-page_4, &.view-display-id-block_5, &.view-display-id-block_6{

		.views-row:nth-child(2n+1){

			clear: both;

		}

	}

	&.view-display-id-page_2, &.view-display-id-page_5{

		.views-row:nth-child(4n+1){

			clear: both;

		}

	}

	&.view-display-id-page_3, &.view-display-id-page_4, &.view-display-id-page_5, &.view-display-id-page_6, &.view-display-id-page_7, &.view-display-id-page_8, &.view-display-id-page_9, &.view-display-id-page_10, &.view-display-id-page_11, &.view-display-id-block_5, &.view-display-id-block_6{

		.pager{

			display: none;
			clear: both;

		}

	}

	.views-row{

		text-align: center;
	    transition-property: transform, opacity;
	    transition-duration: 0.8s;

	}

	.views-field-title h3{

		font-size: 1.3em;
	    line-height: 1.3em;
	    text-transform: uppercase;

	}

	.views-field-field-portfolio-thumbnail, .views-field-field-wall-image {


		border: solid 1px #cccccc;
		padding: 3px;


		a{

			overflow: hidden;
			display: block;

		}


		img{

		    transition-duration: 900ms;
		    transition-timing-function: ease-out;

			&:hover{

				transform: scale(1.2, 1.2);

			}

		}


	}

	&.view-display-id-page_9, &.view-display-id-page_10, &.view-display-id-page_11, &.view-display-id-block_3, &.view-display-id-block_4{

		.views-field-field-portfolio-thumbnail, .views-field-field-wall-image {

			border: none;
		    margin-left: -15px;
		    margin-right: -15px;
		    padding: 0;

		}

		.pager{

			display: none;

		}

		.views-row{

			overflow: hidden;

			&:hover{

				.views-field-nothing{

		    		top: 0;

		    	}

		    }

		}

		.views-field-nothing{

			background: none repeat scroll 0 0 #333333;
		    color: #cccccc;
		    margin-left: -15px;
		    opacity: 0.85;
		    padding: 20px;
		    position: absolute;
		    text-align: center;
		    top: -300px;
		    width: 100%;
		    transition: all 0.5s ease 0s;

		    &:hover{

		    	top: 0;

		    }

		    h3 a{

		    	color: #DDDDDD;

		    }

		}

	}

	&.view-display-id-page_6{

		.col-md-3 {
		    width: 24.99%;
		}

	}

	&.view-display-id-page_11{

		.col-md-3 {
		    width: 24.99%;
		}

	}

	&.view-display-id-block_4{

		.col-md-4 {
		    width: 33.32%;
		}

	}

	.views-field-field-sub-title{

		margin-bottom: 2em;

		span{

			border-top: 1px dashed #cccccc;
		    display: inline-block;
		    margin-top: -2px;
		    padding-top: 5px;
		    font-style: italic;
		    color: #999999;
		    font-size: 0.9em;

		}

	}



}

/* Who Trust in Us */

.view-who-trust-in-us{

	.views-row{

		margin: -10px 0 30px;

	}

	.views-field-field-image-1{

		margin-top: -127px;

		opacity: 1;
    	transition: all 0.5s ease 0s;

    	&:hover{

    		opacity: 0;

    	}
	}

	.views-row{

		opacity: 0.4;
    	transition: all 0.5s ease 0s;

    	&:hover{

    		opacity: 1;

    	}

	}

}


/* Services */

.view-our-services, .view-our-services-advanced{

	text-align: center;

	&.view-display-id-page, &.view-display-id-page_3{

		.views-row:nth-child(3n+1){

			clear: both;

		}

	}

	&.view-display-id-page_1, &.view-display-id-page_6, &.view-display-id-block_2{

		.views-row:nth-child(2n+1){

			clear: both;

		}

	}

	&.view-display-id-page_2{

		.views-row:nth-child(4n+1){

			clear: both;

		}

	}

	.views-field-tid{

		ul{

		    padding-left: 0;
		    line-height: 22px;

			li{

				color: #888888;
    			list-style: circle outside none;

			}

		}

		h4{

			border-top: 1px dashed;
		    color: #cccccc;
		    margin-top: 12px;
		    padding-top: 14px;
		    text-transform: uppercase;

		}

	}

	.views-row{

		margin-bottom: 30px;

	}

	.views-field-name-1{

		font-size: 6em;

	}

	&.view-display-id-page_4, &.view-display-id-page_6, &.view-display-id-page_3, &.view-display-id-block_2 {

		text-align: left;

		.views-row{

			margin-bottom: 65px;

		}

		span i{

			font-size: 6em;

		}

		h3{

			margin-top: 0;

		}

	}

	&.view-display-id-page_6, &.view-display-id-page_3, &.view-display-id-block_2 {

		.views-field-tid{

			ul{

			    margin-left: 1em;
			    padding-left: 0;

			}

		}

	}

}

#block-views-our-services-block-2{

	padding-top: 20px;

}

.page-node-167{


	h1, .region-content{

		text-align: center;
		border-bottom: none;
		font-size: 68px;
		margin-top: 30px;

	}

	.field-name-body{

		text-align: center;
		font-size: 30px;
	    margin-bottom: 39px;
	    margin-top: -30px;
	    padding: 0 100px;

	}

}


.footer{

	color: #EEEEEE;
	padding-bottom: 0;
	font-size: 12px;
	border-top: medium none;
    box-shadow: 0 0 2px #999;
    margin-top: 0;

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	    color: #EEEEEE;
	}

	h2.block-title{

		border-bottom: 1px solid #666666;
	    font-size: 20px;
	    margin-bottom: 20px;
	    padding-bottom: 10px;

	}

	.block:first-child h2.block-title {
	    margin-top: 20px;
	}

	.block{

		margin-bottom: 20px;

	}

	.region-closure{

		border-top: 1px solid #888888;
	    color: #888888;
	    font-size: 11px;
	    margin-top: 20px;
	    padding-top: 20px;

	}

	.region-footer-level-mid{

		text-align: center;
	 	color: #eeeeee;
	    margin: 40px 0;
	    padding: 30px;

	    #block-block-11{

	    	h3{

	    		font-size: 40px;
    			letter-spacing: -3px;

	    	}

	    }

	}



}

/* Categories */

.view-id-categories{

	.image-container{

		border: solid 1px #CCCCCC;
		overflow: hidden;

	}

	img{

		transform: scale(1, 1);
	    transition-duration: 900ms;
	    transition-timing-function: ease-out;

	    &:hover{

	    	transform: scale(1.05, 1.05);

	    }

	}

	h3{

		margin-bottom: 5px;

	}

	a:hover{

		text-decoration: none;

	}

	.cat-title{

		background: none repeat scroll 0 0 #333333;
	    color: #ffffff;
	    display: block;
	    font-size: 12px;
	    margin-bottom: 8em;
	    margin-top: -12em;
	    opacity: 0.7;
	    padding: 1px 0 20px;
	    text-align: center;
	    text-transform: uppercase;
	    transition: all 0.9s ease 0s;

	}

	.views-row{

		transition: all 0.9s ease 0s;

		&:hover{

			.image-container{

				box-shadow: 0 0 50px #cccccc;

			}

			.cat-title{

				opacity: 0.99;

			}



		}

	}

}

/* Special Offers */

.view-special-offers{

	.views-row img{

		border: solid 2px #EEEEEE;

	}

	padding: 10px 0 5px;

	.views-field-field-image img{

		transition: all 0.9s ease 0s;

		&:hover{

			box-shadow: 0 0 50px #cccccc;

		}

	}

}

/* Parallax Intro Block */

#block-block-25{

	padding: 180px 100px;

	h2{

		font-family: OpenSansBold;
	    font-size: 5em;
	    font-weight: bold;
	    letter-spacing: -3px;

	}

	p{

		font-size: 20px;

	}

}

/* Parallax Intro Block Portfolio 1 */

#block-block-26{

	padding: 150px 100px;
	text-align: center;

	h2{


	}

	.font-1{

		font-family: OpenSansLight;
	    font-size: 2em;
	    font-weight: bold;
	    letter-spacing: 8px;
	    margin-bottom: -14px;

	}

	.font-2{

		font-family: OpenSansBold;
	    font-size: 5em;
	    font-weight: bold;
	    letter-spacing: -3px;

	}

	.font-3{

		font-family: OpenSansSemiBoldItalic;
	    font-size: 2em;
	    font-weight: normal;
	    letter-spacing: -1px;
	    margin: 3px 0 -13px;

	}

	.font-4{

		font-family: OpenSansSemiBold;
	    font-size: 5em;
	    font-weight: bold;
	    letter-spacing: -4px;

	}

	p{

		font-size: 20px;

	}

}

#block-multiblock-5{

	margin-bottom: 20px;

}

#block-locationmap-image{

	#locationmap_map{

		max-width: 100%;

	}

}

#block-menu-menu-upper-menu{

		ul.menu {

			li{

				display:inline-block;
				font-size: 12px;

				a{

					border-right: 1px solid #CCCCCC;
    margin-right: 8px;
    padding: 0 10px 0 0;

				    &:hover{

						background: none repeat scroll 0 0 transparent;
						text-decoration: underline;

					}

				}

			}

			li.last a{

				border-right: none;

			}

		}

	}

header .nav .active-trail{

    color: #ffffff;

}



/* Absolute Images Fixes */

/* WideScreens */

.one-sidebar{

	.view-store.view-display-id-page, .view-store.view-display-id-page_4{

		.views-field-field-images-1{

			max-width: 262px;

		}

	}

	.view-store.view-display-id-page_1, .view-store.view-display-id-page_6{

		.views-field-field-images-1 img{

			max-width: 189px;

		}

	}

	.view-related-items, .view-related-items-b{

		.views-field-field-images-1 img{

			max-width: 189px;

		}

	}


}


.view-store.view-display-id-page_7, .view-store.view-display-id-page_8{

	.views-field-field-images-1{

		max-width: 262px;

	}

}

.view-store.view-display-id-block_1, .view-store.view-display-id-block_2, .view-store.view-display-id-block_3{

	.views-field-field-images-1{

		max-width: 270px;

	}

}


	#block-system-main-menu{

		display: none;

	}

	.navbar-toggle{

		display: none;

	}

.region-navigation{


		ul.navbar-nav{

		    margin-left: 0;
		    width: 100%;

		}
	}


.tb-megamenu-nav .mega-align-left{

	.tb-megamenu-submenu{

		left: -200px;

	}

}

.view-store.view-display-id-block_4{

	.views-field-field-images-1{

		max-width: 170px;

	}

	.views-field-title a{

		font-size: 14px;

	}

}

@media (min-width: 1200px){

	.content-area-container{

		width: 1170px;

	}

	aside{

		img{

			max-width: 100% !important;

		}

	}

}


@media (min-width: 992px) and (max-width: 1199px){

	aside{

		img{

			max-width: 100% !important;

		}

	}

	.view-sidebar-ad-125x125 img{

		max-width: 212px !important;

	}

	.view-id-sidebar_services .views-field-nothing a {

	    font-size: 16px;
	    }

	.view-themes{

		.views-field-nothing{

		    height: 164px;
		    margin-left: 0px;
		    padding-top: 67px;
		    width: 283px;

		}

	}

	.view-features {


		.views-field-nothing {
		    clear: both;
		    padding: 30px 0 0;
		    font-size: 0.9em;
		}

		h2{

			margin-top: 1em;
			font-size: 2.5em;
		}

	}

	.view-who-trust-in-us .views-field-field-image-1 {
	    margin-top: -102px;
	}

	.view-our-services.view-display-id-page_4 span i, .view-our-services.view-display-id-page_6 span i, .view-our-services.view-display-id-page_3 span i, .view-our-services.view-display-id-block_2 span i, .view-our-services-advanced.view-display-id-page_4 span i, .view-our-services-advanced.view-display-id-page_6 span i, .view-our-services-advanced.view-display-id-page_3 span i, .view-our-services-advanced.view-display-id-block_2 span i {
	    font-size: 4em;
	}

	.view-recent-portfolio{

		.views-row{

			clear: none !important;

		}

	}

	#block-views-services-block-1 .view-Services {

	    width: 970px;
	}

	.view-job-listings .features .industry {
	    clear: both;
	    display: inline-block;
	    margin-left: 0;
	    margin-top: 4px;
	}

	#block-block-4 h2 {
	    font-size: 40px;
	}

	aside{

		.captcha{

			img{

				max-width: 176px;

			}

		}

	}

	.post-content .block .view-header, .region-highlighted .block .view-header, .region-pre-content .block .view-header, .region-post-content3 .block .view-header, .region-post-content .block .view-header, .region-post-content2 .block .view-header {
	    padding: 1px 3% 15px;
	}


	#block-widgets-s-addthis-share {
	    border-left: none;
	    float: none;
	    padding-left: 0;
	    width: 100%;

		.widgets{
	 		margin-bottom: 5px;
	 		margin-right: 10px;

		}
	}

	.one-sidebar{

	.view-store.view-display-id-page, .view-store.view-display-id-page_4{

		.views-field-field-images-1 img{

			max-width: 212px;

		}

	}

	.view-store.view-display-id-page_2, .view-store.view-display-id-page_5{

		.views-field-field-images-1 img{

			max-width: 334px;

		}

	}

	.view-store.view-display-id-page_1, .view-store.view-display-id-page_6{

		.views-field-field-images-1 img{

			max-width: 152px;

		}

	}

	.view-related-items, .view-related-items-b{

		.views-field-field-images-1 img{

			max-width: 152px;

		}

	}


}


.view-store.view-display-id-page_7, .view-store.view-display-id-page_8{

	.views-field-field-images-1{

		max-width: 212px;

	}

}

.view-store.view-display-id-block_1, .view-store.view-display-id-block_2, .view-store.view-display-id-block_3{

	.views-field-field-images-1{

		max-width: 220px;

	}

}

.view-store.view-display-id-block_4 .views-field-field-images-1 {
	    max-width: 137px;
	}

	.node #taxonomies {
	    float: left;
	    width: 220px;
	}


}

@media (min-width: 768px) and (max-width: 991px){

	#block-views-services-block-1 .view-Services {

	    width: 720px;
	}

	.view-themes{

		.views-field-nothing{

		    height: 121px;
		    margin-left: 0;
		    padding-top: 25px;
		    width: 210px;

		}

	}

	.view-portfolios.view-display-id-block_4 .col-md-4 {
	    width: 49.99%;
	}

	.node #taxonomies {
	    float: left;
	    width: 220px;
	}

	#block-multiblock-2{

		margin-top: 20px;

		.block-title{

			background: #F8F8F8;

		}

		.title-div{

			margin-top: 0;

		}

	}

	#block-multiblock-1, #block-multiblock-2{

		display: block;

	}

	#block-views-employer-block, #block-webform-client-block-15{

		display: none;

	}

	.view-Services h3 {
	    font-size: 19px;
	    margin-top: 5px;
	}


	.navbar-header {
	    float: none !important;
	    margin-left: 0 !important;
	    margin-right: 0 !important;
	    width: 100%;
	}




	.logo{

		display: block !important;

	}

	#logo-mobile.logo{

		display: none !important;

	}

	#navbar, #navbar-fixed{

		.navbar-header {

		    float: left;
		    text-align: center;

		}

		.container .logo, .container #logo-mobile{

			display: block;
	    	float: left !important;

	    	img{

	    		max-height: 52px;
	    		width: auto;

	    	}

		}

		.navbar-collapse {

		    float: none;

		}

		.region-navigation {

		    display: inline-block;
		    float: right;
		    margin-bottom: -4px;

		}

	}

	.navbar-nav > li {
	    display: inline-block;
	    float: none;
	}

	ul.navbar-nav {
	    float: none !important;
	    margin-left: auto !important;
	    margin-right: auto !important;
	    text-align: center;
	}

	aside{

		img{

			max-width: 158px !important;

		}

	}

	.dropdown-menu{

		text-align: left;

	}

	.view-sidebar-jobs .views-field-field-company-logo {
	    float: none;
	    margin-left: auto;
	    margin-right: auto;
	    padding-left: 8px;
	    width: 72px;
	}

	.title-container h1 {
	    border-bottom: medium none;
	    color: #FFFFFF;
	    font-size: 39px;
	}

	.view-job-listings .features .industry {
	    display: inline-block;
	    margin-left: 0;
	    margin-top: 3px;
	}

	.view-store .views-row .views-field-nothing a.btn-default, .view-id-store_b .views-row .views-field-nothing a.btn-default, .view-id-store_c .views-row .views-field-nothing a.btn-default, .view-related-items .views-row .views-field-nothing a.btn-default, .view-related-items-b .views-row .views-field-nothing a.btn-default, .view-related-items-c .views-row .views-field-nothing a.btn-default {

		width: 100%;
	}

	.view-store .form-submit, .view-id-store_b .form-submit, .view-id-store_c .form-submit, .view-related-items .form-submit, .view-related-items-b .form-submit, .view-related-items-c .form-submit {
	    width: 100%;
	}


	.nav-collapse {

		display: none !important;

	}

	.tb-megamenu-button{

		display: none !important;

	}

	#block-system-main-menu{

		display: block;

	}


	.navbar-toggle{

		display: block;

	}

	#navbar .navbar-collapse, #navbar-fixed .navbar-collapse {
	    background: none repeat scroll 0 0 #eeeeee;
	    border-bottom: 1px solid #cccccc;
	    border-top: 2px solid #bbbbbb;
	    box-shadow: 0 0 20px #999999;
	    clear: both;
	    float: none;
	    margin: 0 -15px !important;
	    padding: 10px 0 !important;
	    width: auto;
	}

	#navbar .region-navigation, #navbar-fixed .region-navigation {
	    display: block;
	    float: none;
	    margin-bottom: 0;
	}

	#navbar .navbar-collapse, #navbar-fixed .navbar-collapse {

	    border-bottom: 1px solid #cccccc;
	    border-image: none;
	    border-left: 1px solid #cccccc;
	    border-right: 1px solid #cccccc;
	    box-shadow: 0 0 8px #cccccc;
	    clear: both;
	    float: none;
	    margin: 0 -15px 28px !important;
	    padding: 10px 0 !important;

	}

	.dropdown-menu > li > a {
	    border-bottom: 1px solid #cccccc;
	    clear: both;
	    color: #333333;
	    display: block;
	    font-weight: normal;
	    line-height: 1.42857;
	    padding: 14px 20px;
	    white-space: nowrap;
	}

	#block-views-shopping-cart-block-1 {
	    background: none repeat scroll 0 0 #cccccc;
	    clear: both;
	    float: none;
	    padding-bottom: 8px;
	}

	#block-system-main-menu .nav li a{
	    padding-bottom: 15px;
	    padding-top: 15px;
	    text-align: left;
	    text-transform: uppercase;
	}

	#block-system-main-menu{

		margin-bottom: 20px;

	}

	.view-who-trust-in-us .views-field-field-image-1 {

		display: none;

	}

	.view-who-trust-in-us .views-row {

		text-align: center;

	}

	.view-our-services.view-display-id-page_4, .view-our-services.view-display-id-page_6, .view-our-services.view-display-id-page_3, .view-our-services.view-display-id-block_2, .view-our-services-advanced.view-display-id-page_4, .view-our-services-advanced.view-display-id-page_6, .view-our-services-advanced.view-display-id-page_3, .view-our-services-advanced.view-display-id-block_2 {
	    text-align: center;
	}

	.view-our-services.view-display-id-page_4 span i, .view-our-services.view-display-id-page_6 span i, .view-our-services.view-display-id-page_3 span i, .view-our-services.view-display-id-block_2 span i, .view-our-services-advanced.view-display-id-page_4 span i, .view-our-services-advanced.view-display-id-page_6 span i, .view-our-services-advanced.view-display-id-page_3 span i, .view-our-services-advanced.view-display-id-block_2 span i {
	    font-size: 5em;
	    margin-bottom: 12px;
	}


	.one-sidebar{

	.view-store.view-display-id-page, .view-store.view-display-id-page_4{

		.views-field-field-images-1 img{

			display: none;

		}

	}

	.view-store.view-display-id-page_2, .view-store.view-display-id-page_5{

		.views-field-field-images-1 img{

			display: none;

		}

	}

	.view-store.view-display-id-page_1, .view-store.view-display-id-page_6{

		.views-field-field-images-1 img{

			display: none;

		}

	}

	.view-related-items, .view-related-items-b{

		.views-field-field-images-1 img{

			display: none;

		}

	}


}


.view-store.view-display-id-page_7, .view-store.view-display-id-page_8{

	.views-field-field-images-1{

		display: none;

	}

}

.view-store.view-display-id-block_1, .view-store.view-display-id-block_2, .view-store.view-display-id-block_3{

	.views-field-field-images-1{

		display: none;

	}

}

.view-store.view-display-id-block_4 .views-field-field-images-1 {
	    display: none;
	}

	.view-store .views-field-field-images:hover img, .view-id-store_b .views-field-field-images:hover img, .view-id-store_c .views-field-field-images:hover img, .view-related-items .views-field-field-images:hover img, .view-related-items-b .views-field-field-images:hover img, .view-related-items-c .views-field-field-images:hover img {
	    opacity: 1;
	}

	.view-sidebar-store .views-field-nothing h4 {
	    margin-left: 0;
	}

	.view-sidebar-store .views-field-nothing .rating-sidebar {
	    margin-left: 0;
	}

	.view-sidebar-store .views-field-nothing table {
	    margin-left: 0;
	}

	#block-multiblock-2 {
	    margin-top: 0;
	}

	#block-multiblock-2 .block-title {
	    background: none;
	}

	.node .commerce-product-title {
	    clear: both;
	}

	.view-recent-articles .views-field-title{

		clear: both;

	}


	.view-portfolios.view-display-id-page_6 .col-md-3 {
	    width: 50%;
	}

	.view-portfolios.view-display-id-page_11 .col-md-3 {
	    width: 50%;
	}

	.zoomWindow {
	    display: none !important;


	}

	.node .jqzoom-element {
	    float: none;
	    margin-right: 0;
	}

	.zoomPad{

		max-width: 100%;
		float: none !important;

		img{

	    	max-width: 100%;

	    }

	}

}

@media (max-width: 767px){

	.node .commerce-product-title {
	    clear: both;
	}

	.view-portfolios.view-display-id-page_11 .col-md-3 {
	    width: 100%;
	}


	.view-our-services.view-display-id-page_4, .view-our-services.view-display-id-page_6, .view-our-services.view-display-id-page_3, .view-our-services.view-display-id-block_2, .view-our-services-advanced.view-display-id-page_4, .view-our-services-advanced.view-display-id-page_6, .view-our-services-advanced.view-display-id-page_3, .view-our-services-advanced.view-display-id-block_2 {
	    text-align: center;
	}

	.view-portfolios.view-display-id-block_4 .col-md-4 {
	    width: 100%;
	}

	.view-our-services.view-display-id-page_4 span i, .view-our-services.view-display-id-page_6 span i, .view-our-services.view-display-id-page_3 span i, .view-our-services.view-display-id-block_2 span i, .view-our-services-advanced.view-display-id-page_4 span i, .view-our-services-advanced.view-display-id-page_6 span i, .view-our-services-advanced.view-display-id-page_3 span i, .view-our-services-advanced.view-display-id-block_2 span i {
    font-size: 5em;
    margin-bottom: 12px;
}

	.view-who-trust-in-us .views-field-field-image-1 {

		display: none;

	}

	.view-who-trust-in-us .views-row {

		text-align: center;

	}

	#block-system-main-menu .nav li a{
	    padding-bottom: 15px;
	    padding-top: 15px;
	    text-align: left;
	    text-transform: uppercase;
	}

	#block-system-main-menu{

		display: block;

	}

	#block-views-shopping-cart-block-1 {
	    background: none repeat scroll 0 0 #cccccc;
	    clear: both;
	    float: none;
	    padding-bottom: 8px;
	}

	.dropdown-menu > li > a {
	    border-bottom: 1px solid #cccccc;
	    clear: both;
	    color: #333333;
	    display: block;
	    font-weight: normal;
	    line-height: 1.42857;
	    padding: 14px 20px;
	    white-space: nowrap;
	}

	#navbar .navbar-collapse, #navbar-fixed .navbar-collapse {
	    background: none repeat scroll 0 0 #eeeeee;
	    border-bottom: 1px solid #cccccc;
	    border-top: 2px solid #bbbbbb;
	    box-shadow: 0 0 20px #999999;
	    clear: both;
	    float: none;
	    margin: 0 -15px !important;
	    padding: 10px 0 !important;
	    width: auto;
	}

	#navbar .region-navigation, #navbar-fixed .region-navigation {
	    display: block;
	    float: none;
	    margin-bottom: 0;
	}

	.navbar-toggle{

		display: block;

	}

	.nav-collapse {

		display: none !important;

	}

	.tb-megamenu-button{

		display: none !important;

	}

	#block-multiblock-1, #block-multiblock-2{

		display: block;

	}

	.view-store .views-row .views-field-nothing a.btn-default, .view-id-store_b .views-row .views-field-nothing a.btn-default, .view-id-store_c .views-row .views-field-nothing a.btn-default, .view-related-items .views-row .views-field-nothing a.btn-default, .view-related-items-b .views-row .views-field-nothing a.btn-default, .view-related-items-c .views-row .views-field-nothing a.btn-default {

		width: 100%;
	}

	.view-store .form-submit, .view-id-store_b .form-submit, .view-id-store_c .form-submit, .view-related-items .form-submit, .view-related-items-b .form-submit, .view-related-items-c .form-submit {
	    width: 100%;
	}

	.page-node-1 aside, .page-node-9 aside {
	    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	    margin-right: 0;
	}

	#block-views-services-block-1 .view-Services {
	    width: 90%;
	}

	.view-recent-news{

		text-align: center;

		.views-field-body{

			text-align: left;
			margin-bottom: 20px;

		}

	}

	.view-recent-articles .views-row {

	    padding-bottom: 43px;

	}

	#block-views-job-listings-block-3 {
	    border-right: medium none;
	    padding-right: 0;
	}

	.post-job{

		display: none;

	}

	.view-recent-news{

		text-align: center;

	}

	.headertopleft{

		display: none;

	}

	.logo{

		display: block !important;

	}

	.view-recent-portfolio .views-row:nth-child(3n+1) {
	    clear: none;
	}

	#logo-mobile.logo{

		display: none !important;

	}

	#block-widgets-s-addthis-share {
	    border-left: none;
	    float: none;
	    padding-left: 0;
	    width: 100%;

		.widgets{
	 		margin-bottom: 5px;
	 		margin-right: 10px;

		}
	}



	.navbar-collapse {
	    float: none;
	}

	.navbar-toggle {
   		margin-top: 15px;
   	}

   	.region-navigation {
	    clear: both;
	    display: block;
	    float: none;
	    height: auto;
	}

	.navbar-nav > li > a {
	    padding-bottom: 8px;
	    padding-top: 8px;
	}

	.navbar-nav.secondary{
		border-top: 1px dashed #CCCCCC;
	    float: none;
	    margin-left: 0;
	    margin-right: 0;
	    padding-left: 0;
	    width: 100%;

	    li a{

	    	padding: 8px 0;

	    }

	}




	#block-widgets-s-addthis-share {
	    border-left: none;
	    float: none;
	    padding-left: 0;
	    width: 100%;

		.widgets{
	 		margin-bottom: 5px;
	 		margin-right: 10px;

		}
	}





	.page-container {
	    padding-left: 15px !important;
	}

	aside {

	    margin-left: 15px;
	    margin-right: 15px;
	    margin-top: 15px;
	    padding: 15px;
	}



	#comments .indented {
	    padding-left: 0;
	}

	.view-job-listings .features .industry {
	    clear: both;
	    display: inline-block;
	    margin-left: 0;
	    margin-top: 4px;
	}

	#edit-body-value-wrapper{

		clear: both;
    	width: 100% !important;

    }

    #edit-field-location-tid-wrapper{

    	clear: both;
    	width: 100% !important;

    }

    #edit-field-industry-tid-wrapper{

    	clear: both;
    	width: 100% !important;

    }

    .views-exposed-widget{

    	width: 100%;

    	#edit-submit-job-listings{

    		font-size: 22px;
    		width: 100%;
    		text-align: center;

    	}

    }

    .title-container h1 {
	    font-size: 47px;
	}

	#block-views-employer-block, #block-webform-client-block-15{

		display: none;

	}

	#block-multiblock-2{

		margin-top: 20px;

		.block-title{

			background: #F8F8F8;

		}

		.title-div{

			margin-top: 0;

		}

	}

	.view-job-listings .features .expires {
	    margin-right: 35px;
	}

	.post-content, .region-pre-content{

		padding: 0 10px;

	}

	.one-sidebar{

	.view-store.view-display-id-page, .view-store.view-display-id-page_4{

		.views-field-field-images-1 img{

			display: none;

		}

	}

	.view-store.view-display-id-page_2, .view-store.view-display-id-page_5{

		.views-field-field-images-1 img{

			display: none;

		}

	}

	.view-store.view-display-id-page_1, .view-store.view-display-id-page_6{

		.views-field-field-images-1 img{

			display: none;

		}

	}

	.view-related-items, .view-related-items-b{

		.views-field-field-images-1 img{

			display: none;

		}

	}


}


.view-store.view-display-id-page_7, .view-store.view-display-id-page_8{

	.views-field-field-images-1{

		display: none;

	}

}

.view-store.view-display-id-block_1, .view-store.view-display-id-block_2, .view-store.view-display-id-block_3{

	.views-field-field-images-1{

		display: none;

	}

}

.view-store.view-display-id-block_4 .views-field-field-images-1 {
	    display: none;
	}

	.view-store .views-field-field-images:hover img, .view-id-store_b .views-field-field-images:hover img, .view-id-store_c .views-field-field-images:hover img, .view-related-items .views-field-field-images:hover img, .view-related-items-b .views-field-field-images:hover img, .view-related-items-c .views-field-field-images:hover img {
	    opacity: 1;
	}

	.view-sidebar-store .views-field-nothing h4 {
	    margin-left: 0;
	}

	.view-sidebar-store .views-field-nothing .rating-sidebar {
	    margin-left: 0;
	}

	.view-sidebar-store .views-field-nothing table {
	    margin-left: 0;
	}

	#block-multiblock-2 {
	    margin-top: 0;
	}

	#block-multiblock-2 .block-title {
	    background: none;
	}

	.node .commerce-product-title {
	    clear: both;
	}

	.view-recent-articles .views-field-title{

		clear: both;

	}

	.view-store .views-field-field-images, .view-id-store_b .views-field-field-images, .view-id-store_c .views-field-field-images, .view-related-items .views-field-field-images, .view-related-items-b .views-field-field-images, .view-related-items-c .views-field-field-images {

	    text-align: center;

	}

	.view-store.view-display-id-page_1 .commerce-add-to-cart .btn-success.form-submit, .view-store.view-display-id-page_7 .commerce-add-to-cart .btn-success.form-submit, .view-store.view-display-id-block_1 .commerce-add-to-cart .btn-success.form-submit, .view-store.view-display-id-block_2 .commerce-add-to-cart .btn-success.form-submit, .view-store.view-display-id-block_3 .commerce-add-to-cart .btn-success.form-submit, .view-id-store_b.view-display-id-page_1 .commerce-add-to-cart .btn-success.form-submit, .view-id-store_b.view-display-id-page_7 .commerce-add-to-cart .btn-success.form-submit, .view-id-store_b.view-display-id-block_1 .commerce-add-to-cart .btn-success.form-submit, .view-id-store_b.view-display-id-block_2 .commerce-add-to-cart .btn-success.form-submit, .view-id-store_b.view-display-id-block_3 .commerce-add-to-cart .btn-success.form-submit, .view-id-store_c.view-display-id-page_1 .commerce-add-to-cart .btn-success.form-submit, .view-id-store_c.view-display-id-page_7 .commerce-add-to-cart .btn-success.form-submit, .view-id-store_c.view-display-id-block_1 .commerce-add-to-cart .btn-success.form-submit, .view-id-store_c.view-display-id-block_2 .commerce-add-to-cart .btn-success.form-submit, .view-id-store_c.view-display-id-block_3 .commerce-add-to-cart .btn-success.form-submit {
	    font-size: 18px;
	    padding: 20px;
	    width: 100%;
	    margin-bottom: 10px;
	}

	.view-store .views-row .views-field-nothing a.btn-default, .view-id-store_b .views-row .views-field-nothing a.btn-default, .view-id-store_c .views-row .views-field-nothing a.btn-default, .view-related-items .views-row .views-field-nothing a.btn-default, .view-related-items-b .views-row .views-field-nothing a.btn-default, .view-related-items-c .views-row .views-field-nothing a.btn-default {
	    font-size: 18px;
	    margin-bottom: 0;
	    padding: 20px;
	    width: 100%;
	}

	.view-store.view-display-id-block_4 .commerce-add-to-cart .btn-success.form-submit, .view-id-store_b.view-display-id-block_4 .commerce-add-to-cart .btn-success.form-submit, .view-id-store_c.view-display-id-block_4 .commerce-add-to-cart .btn-success.form-submit {
	    font-size: 18px;
	    padding: 20px;
	    margin-bottom: 10px;
	    width: 100%;
	}

	.view-store .form-submit, .view-id-store_b .form-submit, .view-id-store_c .form-submit, .view-related-items .form-submit, .view-related-items-b .form-submit, .view-related-items-c .form-submit {
	    font-size: 18px;
	    padding: 20px;
	    width: 100%;
	    margin-bottom: 10px;
	}

	.view-store .views-row, .view-id-store_b .views-row, .view-id-store_c .views-row, .view-related-items .views-row, .view-related-items-b .views-row, .view-related-items-c .views-row {
		margin-bottom: 62px;
	}

	.view-id-categories .views-field-tid {
		text-align: center;
	}

	.view-special-offers .views-row img {
	    margin-bottom: 10px;
	}

	.view-portfolios.view-display-id-page_6 .col-md-3 {
	    width: 100%;
	}

	.view-store.view-display-id-page_2 .commerce-add-to-cart .btn-success.form-submit, .view-id-store_b.view-display-id-page_2 .commerce-add-to-cart .btn-success.form-submit, .view-id-store_c.view-display-id-page_2 .commerce-add-to-cart .btn-success.form-submit {
	    font-size: 18px;
	    padding: 20px;
	    width: 100%;
	    margin-bottom: 10px;
	}

	.zoomWindow {
	    display: none !important;


	}

	.node .jqzoom-element {
	    float: none;
	    margin-right: 0;
	}

	.zoomPad{

		max-width: 100%;
		float: none !important;

		img{

	    	max-width: 100%;

	    }

	}

	.taxonomy-term.vocabulary-manufacturer{

		.taxonomy-term-description{

			clear: both;

		}

		.field-name-field-image{

			text-align: center;

		}

	}

	.page-node-167 .field-name-body {
	    font-size: 30px;
	    margin-bottom: 39px;
	    margin-top: -30px;
	    padding: 0 21px;
	    text-align: center;
	}
}




.navbar-toggle {
    margin-top: 17px;
}


body.navbar-is-fixed-top{

	padding-top: 82px !important;

}

.view-blog .views-row-last{

	border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;

}

#twitter-widget-0{

	width: 100% !important;
	min-width: 157px !important;

}

.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #333333;
    color: #FFFFFF;
    outline: 0 none;
    text-decoration: none;
}

.dropdown-menu > .active > a {
    color: #333333;
}

.logo img, #logo-mobile img {
    max-height: 52px;
    width: auto;
}

.highlighted.container{

	padding: 0;

}










/* Shortcode Pages */

.bs-example:after {
    color: #bbb;
    content: "Example";
    font-size: 12px;
    font-weight: bold;
    left: 15px;
    letter-spacing: 1px;
    position: absolute;
    text-transform: uppercase;
    top: 15px;
}

.bs-example {
    background-color: #fafafa;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05) inset;
    margin: 0 -15px 15px;
    padding: 45px 15px 15px;
    position: relative;
}

.bs-example {
    background-color: #fff;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    border-width: 1px;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
}


.bs-glyphicons li {
    border: 1px solid #ddd;
    float: left;
    font-size: 12px;
    height: 115px;
    line-height: 1.4;
    margin: 0 -1px -1px 0;
    padding: 10px;
    text-align: center;
    width: 12.5%;
}

.bs-glyphicons {
    list-style: none outside none;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 1px;
    padding-left: 0;
}

.bs-glyphicons .glyphicon {
    display: block;
    font-size: 24px;
    margin: 5px auto 10px;
}

.scrollToTop{
	background: none repeat scroll 0 0 transparent;
    bottom: 40px;
    color: #444;
    display: none;
    font-size: 68px;
    font-weight: bold;
    height: 83px;
    padding: 0;
    position: fixed;
    right: 40px;
    text-align: center;
    text-decoration: none;
    width: 63px;
    color: #111111;
    z-index: 20;
}

.scrollToTop:hover{
	text-decoration:none;
}

/* IPAD & Opera */

@media screen and (-webkit-min-device-pixel-ratio:0) {

    @media (min-width: 768px) and (max-width: 991px){
		.node-type-product .field-name-field-product-family, .node-type-product .field-name-field-collection, .node-type-product .field-name-field-gender, .node-product .field-name-field-product-family, .node-product .field-name-field-collection, .node-product .field-name-field-gender {

			margin-bottom: 8px;

		}

	}

}

