#request_history_table td {
    text-align: left;
    vertical-align: top
}

.DTTT_container {
    margin: 4px 15px 0px 0px !important;
}

.dataTables_length, .dataTables_filter {
    margin: 8px 0px 0px 10px
}

.dataTables_length, .dataTables_info, .dataTables_filter, .dataTables_paginate {
    margin: 10px
}

.dataTables_length, .dataTables_info, .dataTables_filter {
    float: left
}

.dataTables_paginate {
    float: right
}

.DataTables_sort_icon {
    float: left;
    margin-top: 2px
}

.dataTable {
    margin-bottom: 0
}

.dataTables_paginate .fg-button, .DTTT_container .DTTT_button {
    padding-left: 10px;
    padding-right: 10px;
}

#exo-integration-pages #edit-post-data-wrapper .form-wrapper .fieldset-wrapper .form-item {
    float: left;
    margin-right: 10px;
}

#exo-integration-pages #edit-post-data-wrapper .form-wrapper .fieldset-wrapper .form-item.form-type-checkbox {
    margin-top: 25px
}

#exo-integration-pages .form-item.form-type-textfield.form-item-ei-server-url,
#exo-integration-pages .form-item.form-type-textfield.form-item-ei-url-request {
    float: left
}

#exo-integration-pages #edit-method-wrapper {
    clear: both
}

.history_data_entry {
    width: 550px;
    height: 350px;
}

#custom_pager,
#order_chooser {
    list-style: none;
}

#current_elements,
#current_elements span,
#custom_pager,
#custom_pager li,
#custom_pager li a,
#custom_pager li span,
#order_chooser,
#order_chooser li,
#order_chooser li a,
#order_chooser li span {
    display: block;
}

#custom_pager,
#order_chooser {
    margin: 10px;
    padding: 0;
}

#custom_pager li,
#order_chooser li,
#current_elements span {
    float: left;
}

#custom_pager li a,
#custom_pager li span,
#order_chooser li a,
#order_chooser li span,
#current_elements span {
    padding: 3px 5px;
    text-decoration: none;
    line-height: 10px;
    margin: 0;
}

#current_elements {
    margin: 10px;
}

#custom_pager li a:hover,
#order_chooser li a:hover {
    color: #0000BB;
}

#custom_pager .title,
#order_chooser .title,
#current_elements .title {
    width: 90px;
}

